[2021-02-05 09:06] Jinming-Hu opened #1609 "vcpkg failed to install azure-core-cpp on macOS"
[code]

in `vcpkg/buildtrees/azure-core-cpp/config-x64-osx-dbg-err.log`

[code]

[2021-02-05 18:23] ahsonkhan commented on #1099
Fixed by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/pull/1285

[2021-02-05 18:23] #1099 closed

[2021-02-05 18:37] RickWinter commented on #1608
@Jinming-Hu MatchConditions and RequestConditions are general purpose conditional request modifiers for all services.  It unfortunate that storage api's are inconsistent and all do not accept the all conditional request modifiers.

I would follow what the other 4 languages do.  I notice that the .NET SDK will accept all 4 even though as you pointed out all 4 are not accepted by the service.  They

[2021-02-05 19:12] #1146 closed

[2021-02-05 19:49] #1300 closed

[2021-02-05 23:04] antkmsft commented on #1609
I am surprised VcPkg's CI did not fail. And also @ahsonkhan was able to build it earlier.
I'll take a look.

[2021-02-05 23:06] antkmsft commented on #754
AK> Hey Charlie, Victor told me that you don't recommend this kind of vcpkg integration; if so - why? It looks harmless to me, we only set CMAKE_TOOLCHAIN_FILE if it is not defined, and vcpkg is present - https://github.com/Azure/azure-sdk-for-cpp/blob/master/cmake-modules/AzureVcpkg.cmake#L9-L18

CB> part of it is personal preference, I prefer not to have my project's build system know/care about

[2021-02-05 23:07] antkmsft commented on #754
That being said, there is an extra snippet we can remove, I'll do a PR for that.

[2021-02-06 00:21] #1311 closed

[2021-02-06 00:27] ahsonkhan commented on #1609
I had installed the azure-core package on Windows, not Mac. Which means it didn't bring in curl (and probably not openssl either), so that spot check wouldn't have caught this issue.

[2021-02-06 00:31] #738 closed

[2021-02-06 02:08] Jinming-Hu commented on #1609
I believe it's because you've forgotten the dependency of `openssl`
https://github.com/microsoft/vcpkg/blob/master/ports/azure-core-cpp/CONTROL

[2021-02-06 02:11] Jinming-Hu commented on #1608
I don't know what I'm supposed to do here. This looks like pre-condition and according to C++ guidelines, we should crash rather than throw exceptions. Still I do not understand why inheritance has to be used.

@JeffreyRichter @tg-msft Can you please help out here?

[2021-02-06 02:38] #1266 closed

[2021-02-06 04:52] ahsonkhan opened #1619 "Add edge case tests for improper use of Md5 Update and Digest APIs"
It is important to have the following behavior well-defined and documented, along with unit tests which enforce them:
- What happens if the user calls `Digest()` before any data is provided and no previous calls to `Update()`? Error or assume data is empty string?
- What happens if the user calls `Digest()` twice on the same Md5 instance? Error or return empty vector?
- What happens if the user ca

[2021-02-06 05:19] #754 closed

[2021-02-06 05:29] antkmsft commented on #1609
Thank you @Jinming-Hu, that is very likely the cause.. I am surprised vcpkg CI did not fail.

The bits we tested manually on multiple platforms, were from Jan 6th. This change was added to core on Jan 9th.
[code]

I can fix it, I've got two questions:
1. Should we change "MSVC" to "WIN32"?
2. Is OpenSSL dependency Mac-only (as message says), or do we also need it on Linux (/non-MSVC)?

[2021-02-06 06:13] Jinming-Hu commented on #1609
I'm sure we use openssl for hasing and encoding/decoding. So take a look at the MD5 and Base64 implementation in Core. If we're using Win32 there, we also use it here.

We need it for non-Windows platform. It's just that openssl comes with almost every linux distribution, so we don't have to install it there.

[2021-02-06 06:43] vhvb1989 opened #1621 "Fix documentation for Azure Core to avoid showing json lib internal components"

[2021-02-07 01:59] Jinming-Hu commented on #1619
MD5 of empty data is totally valid. This is defined behavior.

`Digest()` is a const function. We just return the hash of the data that has been fed to that instance. Is there any problem here?

It also works. But it's up to you whether or not to make it defined behavior.

Yeah, I wrote the code and I believe it will work. DO NOT make it a global static variable. That is problematic.,

[2021-02-07 02:00] Jinming-Hu commented on #1619
@ahsonkhan I suggest you take a look at MD5 interfaces of other libraries, or libraries of other languages. Most languages have built-in MD5.

[2021-02-07 02:55] #1609 closed

[2021-02-07 07:46] Jinming-Hu commented on #1599
I feel you guys are so pedantic about what should be Internal/Details😄😄😄

[2021-02-07 09:24] Jinming-Hu opened #1622 "compiler warning in share_rest_client.hpp"
Severity	Code	Description	Project	File	Line	Suppression State
Warning	C26495	Variable 'Azure::Storage::Files::Shares::Details::FileDownloadResult::FileSize' is uninitialized. Always initialize a member variable (type.6).	azure-storage-files-shares	C:\Users\Jamis\Desktop\azure-sdk-for-cpp\sdk\storage\azure-storage-files-shares\inc\azure\storage\files\shares\protocol\share_rest_client.hpp	912

[2021-02-08 17:14] ahsonkhan commented on #1599
We don't want to break customers post-GA :)

[2021-02-08 17:20] ahsonkhan opened #1626 "The `Metadata` type from Storage is exposing a type that is meant to be private in public surface area via type alias"
Public APIs that accept `Metadata` are leaking a type from the `Details::` namespace, specifically `CaseInsensitiveComparator` because of the type alias. Given `Metadata` is an alias for a custom templated map, the user ends up relying on a private implementation detail, which goes against the guidelines, which means we wouldn't be able to rename or otherwise break the type.
https://github.com/Azu

[2021-02-08 17:45] JeffreyRichter commented on #1599
@Jinming-Hu : When I was on the CLR team nay years ago, we learned that adding a new feature was 1% effort and that the other 99% of the effort is documenting, testing, supporting, and versioning whatever we implemented. In addition, having a large API surface area is overwhelming to customers and adds confusion (for example, .NET has several XML & JSON (de)serializers and customers don't know whi

[2021-02-08 17:56] RickWinter commented on #1621
@vhvb1989 We should exclude this file from doc generation.  This is needed for the February release

[2021-02-08 17:59] RickWinter commented on #1583
@antkmsft Update the description with what must be done and seperate out the nice to haves into another backlog issue.  Add an estimate to this item (and if applicable the other issues you create).

[2021-02-08 18:28] JeffreyRichter commented on #1608
@Jinming-Hu is really correct. For C++, let's keep our MatchConditions structure as-is and NOT derive our RequestConditions from MatchConditions - derive it from nothing. Also, let's rename RequestConditions to ModifiedConditions.

[2021-02-08 18:32] JeffreyRichter commented on #1626
My recommendation here is for Storage to create a Metadata class that has a private field of this type: std::map<std::string, std::string, Details::CaseInsensitiveComparator>.
Then, replicate the map's methods on this Metadata type (or whichever methods make sense for Metadata - maybe not all methods make sense). You could hard code strings for the keys/values. since metadata must always be string

[2021-02-08 19:36] danieljurek commented on #1584
Item 2 is also addressed in https://github.com/Azure/azure-sdk-for-cpp/issues/1365

[2021-02-08 20:12] RickWinter commented on #1338
@ahsonkhan Add additional details to this issue for specific work to be done,

[2021-02-08 20:24] ahsonkhan commented on #1621
Duplicate of https://github.com/Azure/azure-sdk-for-cpp/issues/1576 (fyi)

[2021-02-08 20:32] ahsonkhan commented on #1343
Here's an example usage in public API that would need to change:
https://github.com/Azure/azure-sdk-for-cpp/blob/90430040d5b446ade88caf2400f344040be16cb3/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp#L199-L201

[2021-02-08 20:53] vhvb1989 opened #1631 "Update the Common package name to shared"
The name of the `shared` package is expected to be `shared`

[2021-02-08 21:01] #975 closed

[2021-02-08 21:37] ahsonkhan commented on #1619
@Jinming-Hu I asked all these questions to get clarity on such behavior because what you are suggesting doesn't match what actually happens.

[code]

Yes, currently, repeated calls fail, which means we need to fix the implementation:
[code]

[2021-02-08 22:24] #1621 closed

[2021-02-08 22:24] kurtzeborn commented on #1358
All I see on the "other" page is azure-template.  This should just be hidden.  It's a template for teams onboarding to our engineering system and we'll basically never want to publish docs on it.  So just make the change to hide this one.

[2021-02-08 22:53] vhvb1989 commented on #1576
closed by #1621

[2021-02-08 22:58] vhvb1989 commented on #1343
@RickWinter since this issue became a feature request, I now wonder..  If we can't return Response<void>, then how can I, as an end-user, take a look to the raw response?  The raw http response is always in the Response<T>, even when T is void

[2021-02-08 23:00] vhvb1989 commented on #1038
I am sure this is fixed on latest preview release. @RickWinter can we close and ask @lordgamez  to re-open if he continue to see this issue?

[2021-02-08 23:34] #1021 closed

[2021-02-09 00:51] #1122 closed

[2021-02-09 01:22] Jinming-Hu commented on #1626
Then, replicate the map's methods on this Metadata type (or whichever methods make sense for Metadata - maybe not all methods make sense). You could hard code strings for the keys/values. since metadata must always be string/string pairs.

I believe your recommendation works, but that sounds to me like an overkill.

What's the worst thing that could happen if we just keep things as is?

[2021-02-09 01:39] Jinming-Hu commented on #1608
@RickWinter I assigned this issue back to you.

[2021-02-09 01:45] Jinming-Hu commented on #1631
I thought you'd forgotten this one. 😥

[2021-02-09 01:46] Jinming-Hu commented on #1631
I feel terrible that you brought this up one day before release

[2021-02-09 01:47] Jinming-Hu commented on #1619
If this is the case, I would say it's a bug we should fix 😂

[2021-02-09 01:48] Jinming-Hu commented on #1343
Why do we need to change `Response<void>`? and what's the alternative?

[2021-02-09 02:32] vhvb1989 opened #1636 "[Perf Fw] Add test metadata to print test name and description as part of the output"

[2021-02-09 03:02] #1576 closed

[2021-02-09 03:38] antkmsft opened #1638 "Logging: use atomics instead of mutex"
It is better to discuss #1639 first.

[2021-02-09 03:39] antkmsft commented on #1638
(Just in case: https://github.com/Azure/azure-sdk-for-cpp/pull/1568)

[2021-02-09 03:50] antkmsft opened #1639 "Logging: review once again"
* Default log level, what it should be -  `Verbose`, or Warning, or something else?
* Do we like free functions inside the `Azure::Core::Logging::` namespace, or should we make a class?
* `std::function`, or something else for callback?
* Add `string componentId`? (other proposal was string serviceId) Or don't? Or not a string, but some enum?
* LogLevels order - ascending or descending? - https://

[2021-02-09 04:14] antkmsft opened #1640 "Create Azure::Core::(<?>::)CaseInsensitiveMap?"
Inspired by https://github.com/Azure/azure-sdk-for-cpp/pull/1536 and PR comments/proposals

* Should it be `<string, T>`, or `<string, string>`?
* We do lowercase on set, not only compare case insensitively. Right?
* Do we lowercase values?
* Which namespaceshould it be in?
* Bring up a "Follow up on Review Comments - Case-insensitive Metadata Lookup" email thread from December 2020.

[2021-02-09 04:37] #1180 closed

[2021-02-09 04:46] Jinming-Hu commented on #1640
storage team only requires <string, string>

I'd suggest case-preserving.

No, metadata value in storage service is case-sensitive

[2021-02-09 05:08] antkmsft commented on #1640
@Jinming-Hu Thanks for the feedback! The only consideration for case-altering to lowercase would be that Request and Response DO `ToLower()` anyway, when a value is set, I am not sure if it will be useful/not confusing to preserve the case in the map itself. But we will discuss it anyway, it is not I am 100% sure. Fully agree with everything else. If you think of the reasons why it should be prese

[2021-02-09 05:24] Jinming-Hu commented on #1640
In blob service, we send out metadata in the following format

[code]

so `key1` and `key2` here will be converted to lowercase anyway. But this is not the case for DataLake service, where we send out metadata in the following format

[code]

so `key1` and `key2` here are case-preserved.

[2021-02-09 05:24] antkmsft commented on #1584
I also think it would be great if the commit message line 2+ was the release changelog, so it would become a commit description in VcPkg commit history, and also we can paste the changelog to PR description. IMO, very useful for the customers.
This is probably too big of a request to sneak into this issue, please let me know if you'd like me to open a new issue for this.

[2021-02-09 05:28] Jinming-Hu commented on #1640
I agree, but I don't think it's a big problem. Doing what you proposed takes much more efforts, which I don't think is worth it. But I'm okay with it if you want to.

[2021-02-09 05:38] Jinming-Hu commented on #1626
Anyway, I know core sdk team is working on a case-insensitive map, so I'm gonna switch to that some time in the future.

[2021-02-09 05:39] antkmsft commented on #1640
@Jinming-Hu, thank you, all the useful info, we should bring up that email as well during the discussion.

If we were to preserve casing, and you use it in DataLake today, and you add value multiple times, would you expect the casing of the first insertion, and not from updates, or vice versa (Q1 above)? What if the value ends up being exactly the same, and, as a result, no update happens (Q2 abov

[2021-02-09 05:43] danieljurek commented on #1584
This should go in another issue

[2021-02-09 05:44] Jinming-Hu commented on #1640
I'd say it's best to be the last update. But I don't expect anybody would do this (multiple insertions with the same key with different casings). So it's really not a big deal

[2021-02-09 05:45] antkmsft opened #1641 "VcPkg releasing: put release changelog to commit/PR description"
I also think it would be great if the commit message line 2+ was the release changelog, so it would become a commit description in VcPkg commit history, and also we can paste the changelog to PR description. IMO, very useful for the customers.
This is probably too big of a request to sneak into this issue, please let me know if you'd like me to open a new issue for this.

_Originally posted by @an

[2021-02-09 07:14] antkmsft opened #1643 "Move Azure::Core::Http::Internal::ValuePolicy and its options from /azure/core/http/policy.hpp to /azure/core/internal/value_policy.hpp, do the same for other Internals"
Quickly see if there are other similar situations - search for "namespace Internal" in the public headers.

[2021-02-09 09:27] lordgamez commented on #1038
I am okay with this approach, thank you!

[2021-02-09 12:47] Jinming-Hu commented on #210
I think this can be closed since we've shipped several releases with the pipeline

[2021-02-09 12:47] #210 closed

[2021-02-09 12:49] #525 closed

[2021-02-09 12:55] Jinming-Hu commented on #876
I doubt it is useful

[2021-02-09 12:57] Jinming-Hu commented on #890
I don't think such a feature would be necessary

[2021-02-09 12:57] #890 closed

[2021-02-09 12:59] Jinming-Hu commented on #1009
We have to rewrite the auto-generator to fix this issue. There's no timeline for the new auto-generator

[2021-02-09 13:02] Jinming-Hu commented on #1112
This hasn't happened in the last one or two months. Reopen this if it happens again

[2021-02-09 13:02] #1133 closed

[2021-02-09 13:03] #1137 closed

[2021-02-09 13:03] #1138 closed

[2021-02-09 13:03] #1142 closed

[2021-02-09 13:04] Jinming-Hu commented on #1157
blocked by https://github.com/Azure/azure-sdk-for-cpp/issues/1608

[2021-02-09 13:05] Jinming-Hu commented on #1159
Close due to inactivity. Feel free to reopen if anybody has different opinions. I'll just keep things as is for now

[2021-02-09 13:05] #1159 closed

[2021-02-09 13:05] Jinming-Hu commented on #1160
Not valid anymore

[2021-02-09 13:05] #1160 closed

[2021-02-09 13:05] #1161 closed

[2021-02-09 13:05] #1162 closed

[2021-02-09 13:06] #1165 closed

[2021-02-09 13:07] Jinming-Hu commented on #1312
I do not recall what this issue is about

[2021-02-09 13:07] #1305 closed

[2021-02-09 13:08] Jinming-Hu commented on #1323
the answer is yes

[2021-02-09 13:08] #1323 closed

[2021-02-09 13:09] #1431 closed

[2021-02-09 13:09] Jinming-Hu commented on #1431
I assume it's fixed already

[2021-02-09 13:10] #1475 closed

[2021-02-09 13:10] Jinming-Hu commented on #1483
need to remove all `unused()` in new auto-generator

[2021-02-09 13:11] #1510 closed

[2021-02-09 13:11] #1511 closed

[2021-02-09 15:13] JeffreyRichter commented on #1626
Yes, I guess we could have one and we could use it for headers as well as metadata. And, maybe even query parameters.

[2021-02-09 17:09] #1038 closed

[2021-02-09 17:13] vhvb1989 commented on #1009
@Jinming-Hu  Since the json library is not in the ::Internal layer, this is not super important any more.

We are still exposing the Json API to customers but it's somehow hidden in the Internal layer which is not expected to be used by end users.

[2021-02-09 17:13] #1009 closed

[2021-02-09 17:39] ahsonkhan commented on #1112
@Jinming-Hu - this continues to fail locally in VS. Inactivity on the issue doesn't mean the problem went away. Did you re-try it yourself before closing?

[2021-02-09 19:20] ahsonkhan commented on #1112
It continues to fail in Visual Studio Test Explorer:
![image](https://user-images.githubusercontent.com/6527137/107415945-c1a8ca00-6ac8-11eb-914a-dee06667899b.png)

[code]

[2021-02-09 20:01] vhvb1989 opened #1648 "[Perf] Add option to show throughput per parallel workstream"
Related to .Net request:
https://github.com/Azure/azure-sdk-for-net/issues/18614

[2021-02-09 21:38] ahsonkhan opened #1650 "Consider removing the TransportKind enum in Azure::Core::Http since it is not used anywhere"
Why did we have this to begin with?
https://github.com/Azure/azure-sdk-for-cpp/blob/a858a77ac0929a84ae79662e255853dd6a511d1a/sdk/core/azure-core/inc/azure/core/http/http.hpp#L90-L98

cc @JeffreyRichter, @vhvb1989

[2021-02-09 22:01] vhvb1989 commented on #1650
I think it was initially added by Rick and expected to be used as an sdk client option to choose the transport adapter. But it was later abandoned :).
I thought I removed it in some PR where I was checking coverage, but looks like I didn't.

Yes, this needs to go.

[2021-02-09 22:01] danieljurek opened #1651 "Add template2 package"
The steps are different first pushing a port and then pushing another port to the same branch. To simulate the differences in doing so we need 2 ports to test publishing. This is different from other package repositories where you can push packages as needed and don't need to make atomic updates.

[2021-02-09 22:02] vhvb1989 commented on #1650
It could have survived that long just thanks to the API view issue that let it be hidden over there 😆

[2021-02-09 22:36] ahsonkhan commented on #1648
Is the `performance` issue label newly created or was it always there? If it's new, maybe remove it and use the existing `tenet-performance` one.

[2021-02-09 23:26] ahsonkhan commented on #1639
@CaseyCarter, I would love to hear your perspective on this. One of our goals with logging within the SDK is simplicity. We have quite a straightforward API set and model, which relies on the customer defining this callback method and registering it.
Is using `std::function` the best (and simplest or the customer) for such a callback?

https://github.com/Azure/azure-sdk-for-cpp/blob/2d4d766c6d454b

[2021-02-10 01:15] vhvb1989 opened #1654 "[Perf] Add performance project for each package"
Add the performance project and one test to all existing packages in the SDK.

This is for package owners to use it as example and keep adding more test in to it easier.

[2021-02-10 03:56] RickWinter commented on #1631
Decision was reached to leave the package name as Common.

[2021-02-10 03:56] #1631 closed

[2021-02-10 04:04] ahsonkhan commented on #1608
Ignoring GoLang (since it doesn't have inheritance), this change means we'll be different from all the other "OOP" friendly languages who decided to keep the inheritance structure. What's the drawback of their approach and is it worth it to be different here?

https://github.com/Azure/azure-sdk-for-java/blob/385a9f53e542689571cb407696b6f458d957196f/sdk/core/azure-core/src/main/java/com/azure/core/

[2021-02-10 06:32] Jinming-Hu commented on #1640
I'm not sure if you plan to provide something that has similar interface with STL container (specifically `std::map`). If so, you really should take costs into consideration. Doing so is not easy, or I'd have done it when I was working on case-insensitive metadata.

There is [a long list](https://en.cppreference.com/w/cpp/container/map) of functions you need to overload. You need to provide an ite

[2021-02-10 14:43] Jinming-Hu commented on #1608
Other language sdk doing so doesn't justify the correctness. They sometimes make mistakes. Most of the times it's good to take reference from them, but not always.

If `RequestConditions` inherits from `MatchConditions`, it implies that any REST API supports if-modified-since/if-unmodified-since has to also support etag match/non-match . This is simply not true. It's not stated anywhere in any doc

[2021-02-10 18:26] JeffreyRichter commented on #1608
Technically, Jinming is correct. From a raw HTTP perspective, MatchConditions and ModifiedConditions are different and many services support MatchConditions while few services support ModifiedConditions. So, from an HTTP perspective, there is no relationship between match & modified conditions and therefore these 2 types should not be related to each other. One could even go so far as to say that

[2021-02-10 19:20] vhvb1989 opened #1662 "[Key Vault] update context to be the last optional parameter from APIs"

[2021-02-10 19:45] ahsonkhan opened #1664 "Automate trimming out the copyright/license headers from vcpkg control, potfile when submitting a PR"
https://github.com/Azure/azure-sdk-for-cpp/blob/fcd64f7bd2b983148c0b5099afa8edf3ba05091c/sdk/core/azure-core/vcpkg/CONTROL#L1-L4

Example manual effort: https://github.com/microsoft/vcpkg/pull/16160

cc @antkmsft, @danieljurek

[2021-02-10 19:51] ahsonkhan opened #1665 "The release pipeline steps should be skippable and resilient to partial failure"
For example, if all steps except the "Publish to vcpkg" fail for whatever reason, we should be able to skip running all but that step after fixing any engsys/infra issue. Skipping particular steps such as create a release tag, or publish docs, is important for resiliency in our release process.

Right now, skipping them results in `succeeded()` be set to false.

[code]

https://github.com/Azure/az

[2021-02-10 21:42] #1650 closed

[2021-02-11 00:20] sima-zhu commented on #1358
The issue has been resolved. Removed the template from Github IO. Closed the issue.

[2021-02-11 00:20] #1358 closed

[2021-02-11 01:53] #1662 closed

[2021-02-11 02:00] vhvb1989 opened #1668 "[KeyVault] Add documentation for KeyClientOptions and all other public items in this header"
Add documentation for KeyClientOptions and all other public items in this header

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-cpp/pull/1661#discussion_r574012251_

[2021-02-11 02:16] #1566 closed

[2021-02-11 17:28] #1608 closed

[2021-02-11 17:31] RickWinter commented on #1302
@sima-zhu This is fix is needed for the March release.

[2021-02-11 17:33] sima-zhu commented on #1302
Will change `other version` to `All versions`

[2021-02-11 18:14] sima-zhu commented on #1302
https://github.com/Azure/azure-sdk-tools/pull/1396

[2021-02-11 18:14] RickWinter commented on #1651
@danieljurek There is a PR attached to this issue which appears to address the issue.  Is this issue closed?

[2021-02-11 18:22] danieljurek commented on #1651
This issue is mentioned in the PR. This issue is not completed yet.

[2021-02-11 20:48] ahsonkhan opened #1671 "Find a mechanism to hide the JSON dependency (which is an implementation detail) by wrapping it in public API"
The goal of taking an external JSON dependency had always been: This is an implementation detail, that we can swap out and change any time in the future, and have no impact to the end customer of the SDK. Essentially, changing the JSON library underneath shouldn't be a breaking change.

Expose something like a `JsonSerializer` public API which is made available in core that other services like sto

[2021-02-12 02:40] Jinming-Hu commented on #1343
You gotta tell me what to be before I can take some action. I think `Response<void>` is just fine.

[2021-02-12 03:36] vhvb1989 commented on #1343
@RickWinter  this came from Ted's feedback right?  Can you address Jinming's inquiry please

[2021-02-12 05:36] Jinming-Hu opened #1676 "remove copyright statements from vcpkg PR"
remove

[code]

from files in vcpkg PR. Because vcpkg guys don't like it

[2021-02-12 08:12] Jinming-Hu commented on #1343
For all storage API, i've been following a consistent pattern:

1. If the API operates the same resource as the client is referencing, like `BlobClient::Create`, `BlobContainerClient::GetMetadata`, it returns a `Response<XxxResult>`
2. If the API operates a child resource, like `BlobContainerClient::UploadBlob`, it returns a response of child client, like `BlobContainerClient::UploadBlob` returns

[2021-02-12 08:37] vhvb1989 commented on #1671
What if we just decide to keep the implementation we have as the one we will keep forever?
The current Json API under ::Internal would be considered backward compatibility for any service and we commit to never change the interface.

If we ever want to change the implementation, we would do it, but keeping the same interface we currently have and working underneath it.

The benefit of this is to a

[2021-02-12 09:05] vhvb1989 commented on #1599
I would answer to this question with "Yes, they can"

My rationale about it is:  By using ::Details, we want to avoid anyone but the package to directly use what's inside of it.
However, I would expect that if we want to expose the functionality-only of private things (something like a read-only access, non-creation) through public components, to be possible with `well known conditions`.

The well

[2021-02-12 09:39] vhvb1989 commented on #1061
based on engsys responses, this won't be implemented

[2021-02-12 09:39] #1061 closed

[2021-02-12 09:52] vhvb1989 commented on #733
using `sudo snap install cmake --classic` from Ubuntu 18 would install version 3.19.4.

So, I don't think we really want to support 3.10 (the one we get installing cmake with apt-get).

@RickWinter  I am closing this issue based on before information. It is easy to get a newer version of CMake and might not be worth it all the changes we need to do and the features we would sacrifice from using at

[2021-02-12 09:52] #733 closed

[2021-02-12 09:57] vhvb1989 commented on #508
See an example approach of mocking Http response for a test case here: https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/keyvault/azure-security-keyvault-keys/test/mocked_transport_adapter_test.hpp

The mock is manually constructed for the mock and the client needs to be updated to bypass auth, but it might help for someone wanting to test client responses without taking care about auth o

[2021-02-12 16:08] ahsonkhan commented on #1671
We cannot take a dependency on a third party library not making breaking changes, especially when we need to take security or other critical fixes.

What's the benefit here, exactly?

That library also provides a large API surface, well beyond what we actually need, so that puts undue burden on the SDK to maintain all of them.

We would have to take the entire interface through API review.

[2021-02-12 18:13] vhvb1989 commented on #1671
I am not saying we take a dependency on 3rd party. I am saying, we consider the 3rd party interface we already have embedded in our Internal layer to be non-breakable.  If we ever want to migrate to a newer version of the current library we have, we would learn about the changes and fin the way to apply them without breaking.  I basically say, let's maintain the our fork.

Not creating the wrappin

[2021-02-12 18:56] danieljurek opened #1679 "Use environment variables instead of macro syntax in EngSys"
In instances where we reference a queue-time variable with macro syntax (e.g. `$(VariableName)`) we should instead $env:VARIABLE_NAME

[2021-02-12 19:06] danieljurek opened #1680 "Refactor vcpkg publishing script"
The bulk of vcpkg script living in a single `pwsh` step is difficult to debug, maintain, and extend https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/pipelines/templates/stages/archetype-cpp-release.yml#L135

This was necessary to ship in time. Now we can pay the tech debt.

* [x] Sync vcpkg `master` branch fork with upstream
* [x] Clone in a separate step
* [x] Use checkout logic to brin

[2021-02-12 19:27] RickWinter commented on #1676
@danieljurek We should automate removing this.

[2021-02-12 19:29] RickWinter commented on #1676
Duplicate of #1664

[2021-02-12 19:29] #1676 closed

[2021-02-12 19:31] RickWinter commented on #1638
Before making this change the design of logging needs to be addressed.

[2021-02-12 21:56] JeffreyRichter commented on #1671
How can we do this if C++ doesn't have any kind of metadata/reflection facility?

[2021-02-13 00:10] antkmsft commented on #1664
We should be doing this part, no the CentralEngSys

[2021-02-13 01:37] vhvb1989 opened #1684 "[KeyVault] Remove the ::common namespace. Use Azure::Security::Keyvault:: directly"

[2021-02-13 01:37] vhvb1989 opened #1685 "[KeyVault] move Version to Details namespace"

[2021-02-16 21:18] ahsonkhan commented on #1671
Not having reflection capabilities in C++ or attributes to carry metadata certainly makes it difficult.

It may be possible to get around it though. For example, we could have cpp source only dependency on the JSON library (rather than expose via headers) and have each type own the Serialize/Deserialize method. And we can provide implement an "ISerializable"-like interface on the Azure Core types

[2021-02-16 21:54] antkmsft opened #1687 "VcPkg release automation puts an extra newline to portfile.cmake"
I am comparing the files generated by our build with the files checked it to the VcPkg repo, and I see that in VcPkg repo they do have an extra newline at the end of file, in addition to the new empty lines that we already have in our repo.
It is likely being added by the release automation, by the code that does SHA512 update.
I think we should not be adding that, because it generates extra chang

[2021-02-16 21:56] #1664 closed

[2021-02-16 23:04] ahsonkhan commented on #1687
cc @danieljurek

[2021-02-17 19:11] vhvb1989 commented on #1342
Closed by #1642

[2021-02-17 19:11] #1342 closed

[2021-02-18 00:01] ahsonkhan opened #1689 "Installing azure-storage-blobs-cpp via vcpkg on windows is bringing in curl dependency"
I expected winhttp to be used as the transport layer when installing the Azure SDK packages such as `azure-storage-blobs-cpp` via vcpkg, and for curl to **not** be installed. How come it depends on curl by default?

**Steps to reproduce:**
1) Clone the vcpkg repo: `git clone https://github.com/microsoft/vcpkg.git`
2) From VS developer command prompt, run: `.\bootstrap-vcpkg.bat`
3) Install the vcp

[2021-02-18 00:56] vhvb1989 commented on #1689
I think the default behavior when installing vcpkg packages without explicitly defined features is to install all available features for the OS. @antkmsft should know better here

But I think if you don't want curl, you have to do vcpkg install azure-blobs-cpp[winhttp]:x86-windows, for example

[2021-02-18 02:16] #1102 closed

[2021-02-18 03:15] ahsonkhan opened #1690 "Building an application consuming x64-windows-static version of the SDK package fails with error: mismatch detected for 'RuntimeLibrary'"
**Steps to reproduce:**
1) Clone the vcpkg repo: `git clone https://github.com/microsoft/vcpkg.git`
2) From VS developer command prompt, run: `.\bootstrap-vcpkg.bat`
3) Install the vcpkg specifying the static triplet: `vcpkg.exe install azure-storage-blobs-cpp:x64-windows-static`
4) Wait ~15 minutes for the installation to complete.
5) Create an application, find and link the package to it (see ex

[2021-02-18 03:22] bhardwajs commented on #1690
@ahsonkhan Can you try the following in your sample application?
[code]

My understanding is that your application is using dynamic CRT, but static linking of VCPKG_TARGET_TRIPLET attempts static CRT linking.

[2021-02-18 03:49] ahsonkhan commented on #1690
To clarify, are you suggesting setting that in the application `CMakeLists.txt` file?

I tried that approach @bhardwajs but still see the same errors.

However, it looks like applying a similar type of fix from our Embedded C SDK using `add_compile_options` seems promising:
https://github.com/Azure/azure-sdk-for-c/pull/1580

Instead of requiring all consuming sample applications to set these optio

[2021-02-18 04:38] Jinming-Hu commented on #1590
What's the motivation of this change? Does it also apply to storage? We also get some string conversion methods with different names like https://github.com/Azure/azure-sdk-for-cpp/blob/5f523f7030459bc8ca77b0ac96ff3f2c7b593d03/sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_attributes.hpp#L18 https://github.com/Azure/azure-sdk-for-cpp/blob/5f523f7030459bc8ca77b0ac9

[2021-02-18 04:40] Jinming-Hu commented on #1689
can we make `azure-blobs-cpp[winhttp]` the default one and leave out `azure-core-cpp[curl]` unless explicitly specified? or is there a limitation of vcpkg?

[2021-02-18 04:55] Jinming-Hu opened #1691 "Both fields in ModifiedCondition need to be nullable"
Hi Rick, I'm looking at your [ModifiedConditions](https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/core/azure-core/inc/azure/core/modified_conditions.hpp) and working on using in storage code. I got a question here. How do I know if the user wants to use which modified time access condition? Because the default constructor of `Azure::Core::DateTime` initializes it into epoch value. The t

[2021-02-18 09:03] vhvb1989 opened #1692 "[KeyVault] Add security folder to the path structure"
Why do we drop the Security folder from the on disk path?
i.e. `#include "azure/security/keyvault/keys/...."`

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-cpp/pull/1675#discussion_r577978679_

[2021-02-18 09:36] #1545 closed

[2021-02-18 17:50] RickWinter opened #1693 "VCPkg Support"
Work to support building applications with VCPkg

[2021-02-18 18:03] vhvb1989 opened #1694 "Define the test file structure and namespaces"
The current approach/design on the sdk for c++ repo is

## Test file structure

All kind of tests are grouped inside a folder `test` inside each project-service like:

![image](https://user-images.githubusercontent.com/24213737/108401239-fc011e00-71d0-11eb-9605-fdc963f65a35.png)

Any new kind of tests (stress, regression, etc) would be a new test project under the test folder from the package.

##

[2021-02-18 18:36] danieljurek commented on #1584
Closing. This shipped in February.

[2021-02-18 18:36] #1584 closed

[2021-02-18 18:51] vhvb1989 opened #1696 "[Perf] Rename Performance fw name to Perf"
I favor "Perf" over PerformanceStress/Performance.  Perf is very common name for Perf testing.  Its short and concise.  If you want to go with Performance that would be my second choice

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-cpp/pull/1655#r578041668_

[2021-02-18 19:00] danieljurek commented on #1687
This should be fixable with `-NoNewLine` https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/set-content?view=powershell-7.1

Will give it a try.

[2021-02-18 19:18] RickWinter commented on #1696
This change sets a precedence for future services.  we need to set guidelines and fix

[2021-02-18 19:30] RickWinter commented on #1694
@vhvb1989 You had a proposal to do this
- sdk/core/azure-core
  - test
    - unit
    - performance
    - stress
    - continuous-operation
    - functional
  - src
  - inc
  - vcpkg

I put this on disk and I very much prefer it over my original thoughts of placing at toplevel.  The clean toplevel folder for each service is a major win for customers trying to understand the code.

[2021-02-18 20:39] ahsonkhan commented on #729
@bhardwajs I am wondering if you could share some of your expertise here and help us fix this linker warning when building the SDK. Appreciate it.

[2021-02-18 21:05] #1636 closed

[2021-02-18 21:05] #1654 closed

[2021-02-18 21:21] ahsonkhan opened #1697 "Blob storage depending on libxml2 is bringing in other large dependencies such as msys and libiconv, on Windows"
Consider using built-in xml APIs on Windows, such as the [win32 APIs](https://docs.microsoft.com/en-us/windows/win32/wsw/xml-reader) to reduce the footprint of the SDK on disk.

Here's a sample application build output, and the statically linked executable starts around ~5 MB:
![image](https://user-images.githubusercontent.com/6527137/108422925-0aa8fe80-71ec-11eb-8947-1f1a509c8894.png)

cc @RickWi

[2021-02-18 21:32] bhardwajs commented on #1690
@ahsonkhan and I synced offline. The issue here is inconsistency of CRT linkage between application and x64-windows-static library.

`x64-windows-static` sets `VCPKG_CRT_LINKAGE to static`, but the application by default uses dynamic CRT linking. Using community triplet [x64-static-windows-md](https://github.com/microsoft/vcpkg/blob/master/triplets/community/x64-windows-static-md.cmake) works. So,

[2021-02-18 21:38] JeffreyRichter commented on #1697
Performance may be terrible for this if you pass to pas XML strings to/from Windows.

[2021-02-18 22:03] bhardwajs commented on #1690
https://gitlab.kitware.com/cmake/cmake/-/issues/21837

[2021-02-18 22:10] bhardwajs commented on #1690
Turns out I was missing the note at the bottom of `CMAKE_MSVC_RUNTIME_LIBRARY` page. The following works.

CMakeLists.txt
[code]
[code]

[2021-02-18 22:53] ahsonkhan opened #1699 "It is difficult for new customers to differentiate between track1/legacy and the modern C++ SDK for storage when using vcpkg"
When searching for packages on vcpkg, for discovery, the search `azure-storage` brings up these 5 results, and it is very difficult to tell which one to choose, especially given how similar the descriptions look.

![image](https://user-images.githubusercontent.com/6527137/108431401-aab85500-71f7-11eb-8d7d-adcb56fb2f48.png)

Consider adding [legacy] to the description of the track1 `azure-storage-c

[2021-02-18 23:02] ahsonkhan commented on #1690
The mismatch that Sumit referred to above needs to be resolved by the application consuming the SDK by either using the dynamic triplet, or compiling the application statically as well. Therefore, there isn't anything specific that needs fixing within the SDK.

We can turn this into a docs issue, to help application developer troubleshoot and fix such issues if they encounter it.

[2021-02-18 23:04] vhvb1989 commented on #1690
CMake sets the compiler flags by default to `/MD` when it is not specified manually by the user.

![image](https://user-images.githubusercontent.com/24213737/108431435-b9067100-71f7-11eb-88f4-31008381464c.png)

VCKPG sets the flag the the runtime env (static or dynamic) based on the VCPKG triplet.
But, CMake uses the VCPKG triplet only to know what libraries to link from VCPKG and not to set the r

[2021-02-19 02:21] vhvb1989 commented on #1555
this feature is not yet fully implemented/supported in other languages and requires some standard to be created across languages. At some point, sync with @mikeharder  and @g2vinay about this feature across languages

[2021-02-19 03:15] #1063 closed

[2021-02-19 03:55] bhardwajs commented on #1671
@ahsonkhan - How would a client of the SDK consume SDK? Is the current plan to only support CMake as the build system?

One approach would be to use templates till C++20 and concepts starting in C++ 20 to support the `Serialize()` behavior you are showing above. It would be preferable to not have the cost of a virtual function.

Since `json` is an implementation detail, SDK shouldn't expose `nlohm

[2021-02-19 06:53] #1483 closed

[2021-02-19 10:16] Jinming-Hu opened #1702 "Unify Azure::Core::Internal::Http and Azure::Core::Http::Internal"
https://github.com/Azure/azure-sdk-for-cpp/blob/5c2d0fba17248db31751b202557a2b50554c5726/sdk/core/azure-core/inc/azure/core/http/policy.hpp#L385

https://github.com/Azure/azure-sdk-for-cpp/blob/5c2d0fba17248db31751b202557a2b50554c5726/sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp#L19

what should go into one and what should go into the other?

[2021-02-19 16:49] RickWinter commented on #1702
They will be one.  We are cleaning up the Azure namespaces
Commonly used types for customers reside in `Azure::`
More advanced features for customers which ship in core are in subnamespaces `Azure::<subnamespace>`, i.e. `Azure::Cryptography::`

Features intended for use by client libraries are in or under  `Azure::Core::Internal`
Things private to the `Azure::Core` package are in `Azure::Core::Det

[2021-02-19 16:51] RickWinter commented on #1699
cc: @maggiepint Here is a case of where C++ customers may find it difficult to pick the right package.

[2021-02-19 17:02] RickWinter commented on #1697
Using libxml2 could be fine if we can get the install time down.  Right now it takes more than 15mins to boot strap the storage dependencies from vcpkg

[2021-02-19 17:42] RickWinter opened #1704 "BodyStream needs to throw a valid exception type"
We do not want the exception to be caught, but there is no way to prevent that.
[code]

Instead of expecting the string is never caught, we should throw an invalid_argument exception with this message.  In debug builds we can add an assert(......) to help developers understand the code is broken.
[code]

cc: @ahsonkhan

[2021-02-19 19:09] chuyiwtree commented on #5
Thank you @Jinming-Hu

Hello,

We have an application which runs on azure VM and uses azure C++ storage sdk to interact with blob storage. We need to authenticate this application to have blob storage access. Currently we do it by passing storage account and account key as input from the user and create a storage client. However since we are running on azure VM, we want to avoid getting credential

[2021-02-19 19:45] ahsonkhan commented on #1702
To clarify this particular aspect, are you recommending we don't have any other `Azure::<subnamespace>::Internal` namespaces, and all such "internal-only" APIs will live under **one** namespace with Internal, i.e. `Azure::Core::Internal`?

For example, what happens when we have some advance feature in `Azure::Cryptography::`, and then we have "internal-only" APIs that are specific to that namespac

[2021-02-19 21:04] ahsonkhan opened #1708 "Public storage model types that are returned from client library APIs need doxygen docs"
For example:
https://github.com/Azure/azure-sdk-for-cpp/blob/5e97c8f67f279148ba475fe6a0a7a8650449a603/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp#L342-L348

cc @katmsft, @Jinming-Hu

[2021-02-20 01:13] #1565 closed

[2021-02-20 01:13] #1056 closed

[2021-02-21 20:54] johnwheffner opened #1716 "Idle curl connections already closed by remote side are reused"
Idle connections sit in a pool for reuse, for up to 90 seconds.  Some servers are pretty eager to close idle connections.  In particular, the Azurite storage emulator uses a 5 seconds idle timeout.  Connections that are closed by the server while sitting in the idle pool sit in a FIN_WAIT2 state on the client side (and CLOSE_WAIT on the storage service side).

When such a connection gets picked fo

[2021-02-21 21:07] johnwheffner commented on #1716
The following unit test demonstrates the issue more directly

[code]

[2021-02-22 01:53] johnwheffner commented on #1716
An approach that's worked for me is upon removing from the pool to first check the connection's liveness by doing a `recv` with `MSG_PEEK`; if this returns success or `EAGAIN` then use the connection, otherwise discard and try again immediately.

[2021-02-22 01:58] Jinming-Hu commented on #1505
maybe we don't have to do it at all.

even if bad things happened, it wouldn't be client sdk's fault.

[2021-02-22 01:58] #1505 closed

[2021-02-22 02:03] #1314 closed

[2021-02-22 02:03] johnwheffner opened #1717 "Process may crash at exit when curl connection pool cleanup thread is running"
The curl connection pooling uses a detached background thread to clean up idle connections from the pool.  This clean-up thread accesses static class members, and if it wakes during process tear-down, it may access deinitialized objects and crash.

Reliably reproducing the issue is not simple as it's timing-dependent and occurs during process tear-down.  But it can be reproduced on Linux by reduci

[2021-02-22 02:12] johnwheffner commented on #1717
Related to #1499 but a bit different.  The proposed solution there is necessary but not sufficient since the cleanup thread will need to be terminated.

[2021-02-22 19:30] vhvb1989 commented on #1716
I have created a draft PR for this.

The problem with this fix, is that we still have to pay the performance implication of calling `recv()` for every connection, even when it might be valid already.  So, we are basically moving the check from the retry policy to the connection pool.

I wonder if Azurite can be configurable to change the time for closing idle connections?

[2021-02-22 19:51] johnwheffner commented on #1716
The syscall overhead is about 1 usec, a tax I'm happy enough to pay in this context.  The other option would be to handle this condition in the error path when using the connection, which is arguably more correct but does not encapsulate the complexity.

I'm not sure whether the Azurite timeout can be tuned -- I didn't find anything when I looked, but I didn't look too hard.  However, it's not too

[2021-02-22 20:26] #1704 closed

[2021-02-22 23:09] vhvb1989 commented on #1716
@johnwheffner  what you mentioned made me remember that the curl transport adapter implementation should be taking care of getting a new connection if the one that it used initially didn't work.
Since you have the repro env already, can you tell me what do you get from this line:
https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/core/azure-core/src/http/curl/curl.cpp#L178

while reproduci

[2021-02-23 00:07] vhvb1989 commented on #1716
Updating to a new PR where the curl transport adapter will react to `CURLE_SEND_ERROR` and request a new connection.

@johnwheffner  I was expecting `CURLE_UNSUPPORTED_PROTOCOL` but it looks like `CURLE_SEND_ERROR` will also be used when the data transfer didn't work.

[2021-02-23 00:09] #1668 closed

[2021-02-23 05:55] #1696 closed

[2021-02-23 17:38] #729 closed

[2021-02-23 17:38] #1690 closed

[2021-02-23 19:47] RickWinter opened #1722 "Add allowlist for headers"
Logging should only log the whitelist of headers.

[2021-02-23 22:40] #1687 closed

[2021-02-23 23:05] ahsonkhan opened #1725 "LRO operations should be returning Operation<T> types with Operation suffix and not Response<Model> types with Result suffix"
Should the LRO function signatures be as follows?
- Rename `StartCopyBlobResult` to `StartCopyBlobOperation`
- Return that `Operation<T>` type directly rather than as a `Response<T>`
- Move the `StartCopyBlobOperation` type outside of the `::Models` namespace.
[code]

Currently, the API is defined as follows. Is there a particular reason for us to define it this way?
https://github.com/Azure/azure

[2021-02-23 23:13] danieljurek commented on #1361
Chatted with someone who has more experience with the Cache task. Adding `continueOnError: true` could introduce other strange failures and won't necessarily improve the reliability in the case of intermittent network failures.

If the cache step fails because of a network issue and we decide to move forward in the build with `continueOnError: true` then the failure modes look like:

* Before down

[2021-02-23 23:41] ahsonkhan commented on #1361
Can we add a systematic auto-retry (maybe 2-3x) in devops, and report the intermittent failures like these as "warnings", so that we don't have to manually trigger a retry? Or would that end up hiding some real intermittent bugs/test failures in the SDK that need to be investigated?

[2021-02-24 02:38] antkmsft opened #1728 "UWP build is broken"
[code]

(It is HKeyHolder)

[2021-02-24 02:47] antkmsft commented on #1728
Solution:

After
[code]

Add this:
#include "azure/core/platform.hpp"

And then, after
[code]
Add this:
[code]

and then add the corresponding
[code]

[2021-02-24 08:01] Jinming-Hu commented on #1725
`StartCopyBlobResult` inherits from `Operation<T>` https://github.com/Azure/azure-sdk-for-cpp/blob/f48a850284f3b9694dd5f6a763191cfea53cbf2f/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp#L71

`StartCopyBlobResult` is just following the naming rules https://azure.github.io/azure-sdk/general_design.html#network-requests

Following are suggestions from Jeffrey, word by wor

[2021-02-24 10:52] antkmsft commented on #1480
Everything public looks good to me, nothing relevant to this came up during the Core design review as well. The only thing that could be hidden is ValuePolicy, which is alredy where it should be (in Internal)

[2021-02-24 10:52] #1480 closed

[2021-02-24 18:12] RickWinter opened #1732 "ClientOptions base class"
All client options should derive from a base client options.  Allows for common client options to be specified.

Common client options:

- LoggingOptions
- ProxySettings
- RetryOptions
- PerCallPolicies
- PerRetryPolicies
- TransportAdapter

[2021-02-24 18:41] vhvb1989 commented on #1702
I would stay with the `Azure::<subnamespace>::Internal`, The intention is that if you include one header like http.hpp, you would get both public and internal namespaces and you can access it through `Azure::Core::Http`

[2021-02-24 19:53] RickWinter commented on #1725
@Jinming-Hu Can you elaborate on what is wrong and broken in C#

[2021-02-24 23:16] Jinming-Hu commented on #1725
Jeffrey said that in an email with subject "FW: Model type naming in Go" on Aug. 12, 2020

[2021-02-24 23:21] ahsonkhan commented on #1725
I believe that conversation happened prior to us adding support for LRO and `Operation<T>` and likely refers to general pattern around regular operations which return `Response<T>` and the models having `Result` prefix. LROs don't return models.

LRO operations are different, and we should follow the naming and coding pattern for those that is consistent with other language SDKs, unless there is a

[2021-02-24 23:28] Jinming-Hu commented on #1725
I don't know, I thought that was a general guideline going through the beginning to the end.
If this is the case, shall we ask Jeffrey to clarify?

[2021-02-24 23:32] Jinming-Hu commented on #1732
okay, I can do this

[2021-02-24 23:55] ahsonkhan commented on #1725
We had chatted with Jeff earlier today and he was fine with making this change. Up to you to reach out and get confirmation, or wait for @JeffreyRichter to respond to this GitHub issue.

[2021-02-24 23:56] Jinming-Hu commented on #1725
okay, if Jefferey said so

[2021-02-25 00:30] vhvb1989 commented on #1732
Working on it. Expect a PR later

[2021-02-25 07:25] vhvb1989 opened #1737 "Update Http request for retryPolicy and all per-retry policies"
Add `uint GetRetryNumber()` api for the HttpRequest.

Make the RetryPolicy a friend class of the HttpRequest so it can update the retry number on every retry intent.

This information will allow the per-retry policies to make decisions based on the number of retries intended for the request.

More info:

Other languages uses a `RequestContext` object to share one state across the pipeline.
This fe

[2021-02-25 07:27] vhvb1989 commented on #1737
@Jinming-Hu , this feature will let you create a per-retry policy for Storage which would switch to the secondary server depending on the retry number.

[2021-02-25 08:15] Jinming-Hu commented on #1737
hack, but works

[2021-02-25 09:26] vhvb1989 opened #1739 "Operation<T> will have a `GetRawResponse()` before we GA,"
Operation<T> will have a `GetRawResponse()` before we GA,
and calling `Poll()` will return the status instead of the `rawResponse`

_Originally posted by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/pull/1736#discussion_r582671237_

[2021-02-25 17:43] RickWinter commented on #1739
The Poll() design is correct to return the rawresponse of the Poll.  The status is contained on the operation object and updated accordingly.  This is the same design other languages use.

[code]

[2021-02-25 17:48] vhvb1989 opened #1740 "Remove NullBodyStream or move it to internal"
[code]
#
Does this need to be public?

[2021-02-25 17:48] RickWinter commented on #1737
I don't like this design.  Friend use is almost always a hack.  It makes more sense to allow overriding the retry policy and storage extends the retry policy to support this behavior.  This way storage can customize retry while still leveraging the core of retry behavior that everyone gets.

[2021-02-25 18:02] vhvb1989 commented on #1739
Compare the current model for polling:

[code]

And now if Poll() would return the status

[code]

[2021-02-25 18:10] vhvb1989 commented on #1737
This would break the model of Core standardization across services where Core provide the default policies and won't accept a service overriding one of this policies.  We got this feedback from the arch board and it is the motivation behind #1732 🤣

We can create an entire RequestContext object to be inside the HttpRequest for policies to share state between them, but we need to protect the access

[2021-02-25 20:53] ahsonkhan opened #1742 "Azure::Core APIs that accept Context should take it as the last parameter (but required)"
This will be consistent with the client library APIs, which continue to have it be the last parameter, but optional.

[2021-02-25 21:41] ahsonkhan commented on #1361
Another intermittent failure due to a different reason, from https://github.com/Azure/azure-sdk-for-cpp/pull/1741: `##[error]The operation was canceled.`

https://dev.azure.com/azure-sdk/public/_build/results?buildId=754078&view=logs&j=f578152f-9f12-52ef-8faa-e76d6b953f78&t=d3aa4999-29fb-5ed2-a561-16a602d718a5

[2021-02-25 22:06] vhvb1989 opened #1743 "Move Url to internal namespace"
The Url should not be used by end-users to parse, read or build arbitrary urls.
The Url is meant for creating an Http request to Azure Services and for the SDK service clients only.

[2021-02-25 22:37] #1740 closed

[2021-02-25 23:04] ahsonkhan commented on #1725
FYI @tg-msft just in case you have any strong disagreements with the proposed change recommended in the original post of this issue, or found something I might have missed.

[2021-02-25 23:22] tg-msft commented on #1725
Your proposal looks good.  `Response<T>`, `Operation<T>`, and `Pageable<T>` are .NET's three return types.  We wrap models with them, but not each other.

[2021-02-25 23:56] vhvb1989 commented on #1590
Since the changes for Core are done, I am assigning this to @Jinming-Hu

[2021-02-26 01:30] vhvb1989 opened #1746 "Rename AddHeader() to SetHeader()"
SetHeader() is self descriptive about the header will be overriden.

[2021-02-26 01:39] Jinming-Hu commented on #1590
I take it to mean this also applies to storage, and I ought to make the same changes to storage.

[2021-02-26 02:03] #1513 closed

[2021-02-26 02:05] Jinming-Hu commented on #1343
Not actionable item, don't know what i'm suppose to do here. assign back to core sdk team.

[2021-02-26 04:48] #1725 closed

[2021-02-26 06:37] danieljurek opened #1749 "Validate vcpkg release of packages on a cadence"
* Push all packages to the vcpkg fork nightly
* Run vcpkg CI and confirm that it succeeds

[2021-02-26 06:38] danieljurek commented on #1651
Closing the issue as this is a subset of the verification we could be doing with vcpkg nightly: https://github.com/Azure/azure-sdk-for-cpp/issues/1749

[2021-02-26 06:38] #1651 closed

[2021-02-26 06:45] danieljurek commented on #1361
26 minutes is a long time to wait for a response before failing. I can set a timeout on this step to save agent time and dev headache. Need to investigate whether we have data for average run time of a successful cache unpacking.

[2021-02-26 07:30] #1590 closed

[2021-02-26 16:38] #1640 closed

[2021-02-26 16:38] #1525 closed

[2021-02-26 16:38] #1626 closed

[2021-02-26 19:31] ahsonkhan opened #1751 "Implementation detail of many storage APIs shows up as public doxygen docs, confusing the end customer reading them"
The doxygen API reference docs published show a lot of the implementation detail of the storage APIs which make readers think these are usage samples for them to copy.
This makes the docs filled with a lot of noise that isn't relevant to the end customer.

Instead, example calling code or code snippets that end users can leverage should be written and displayed.

https://azuresdkdocs.blob.core.win

[2021-02-26 20:41] antkmsft commented on #1728
@RickWinter, this one is blocking release, still not assigned, I can implement it by EOD, but late.

[2021-02-26 20:42] antkmsft commented on #1728
If you are fine with that - assign to me, I know how to fix it.

[2021-02-26 21:25] ahsonkhan commented on #1737
Can you share some links, I couldn't find this type and would like to see how it's used. I found `TokenRequestContext` in .NET, but that doesn't seem to be the one you are referring to.

[2021-02-26 22:09] vhvb1989 commented on #1737
.NET uses what they call a HttpMessage: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/HttpMessage.cs#L17  and it has the dictionary<string, object> as the context

Java call it HttpPipelineCallContext: https://github.com/Azure/azure-sdk-for-java/blob/632bb56d744549f6857289a7df3391731660ac7e/sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineCallConte

[2021-02-26 22:59] vhvb1989 opened #1754 "Remove NextPolicyClass concept"
Use an iterator of the policy vector

[2021-02-26 23:35] ahsonkhan commented on #1728
Is there a way we can spread this guidance more broadly to the team so we know how to use the `windows.h` correctly in all cases? Do we have other usages that need to be corrected?

[2021-02-26 23:39] antkmsft commented on #1728
@ahsonkhan - it is, already: https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/core/azure-core/inc/azure/core/platform.hpp#L9-L42

Plus, every comment that checks for UWP sends the reader to go read that comment.

[2021-02-27 01:47] #1728 closed

[2021-03-01 03:20] Jinming-Hu commented on #1751
what caused this issue? Is this some kind of bug of doxygen?

[2021-03-02 00:28] vhvb1989 opened #1758 "Allow custom RequestID per operation"
Make RequestID to check the Context for overriding RequestId to be used

[code]
#
we could use the Context. But the requestPolicy needs to be updated for that.
Is that a typical scenario?

Based on: https://apiview.dev/Assemblies/Review/3bd21beb2d9941a78683ac117c7bae33#Azure::Core::Http::RequestIdPolicy

[2021-03-02 02:51] Jinming-Hu commented on #1758
Is this a customer feature request?

We randomly generate request Id for each operation. I think it's enough already

[2021-03-02 21:36] danieljurek opened #1764 "Version script cleanup"
* Remove code path for `version.txt` as we have since migrated away from that approach
* Move code common to version parsing from `SdkVersion-Common.ps1` into somewhere like `Language-Settings.ps1`

[2021-03-02 21:42] #1691 closed

[2021-03-02 21:46] RickWinter commented on #1343
We do not want to return Response<void>.  Its a pattern that is hard for users to understand.  Instead every API should return a Model that encapsulates the "Response".  In the case of DeleteBlob we should return a type that user can use to know the blob was deleted.

[2021-03-02 22:28] weshaggard commented on #1764
It doesn't have to be moved to Language-Settings but it should probably be imported from their if you keep it separate and we probably should also move more of the update/get functions into that common versioning scripts.

[2021-03-02 22:48] antkmsft commented on #1601
@RickWinter, I talked to Scott,

There is no need for CAE if:
* There is no user authentication (any credential which authenticates a user account. Most notably InteractiveBrowserCredential, DeviceCodeCredential, AuthorizationCodeCredential, and UsernamePassword credential).
* If there aren't management plane libraries.

[2021-03-02 23:48] #1540 closed

[2021-03-02 23:50] vhvb1989 commented on #1758
based on arch bord review: https://apiview.dev/Assemblies/Review/3bd21beb2d9941a78683ac117c7bae33#Azure::Core::Http::RequestIdPolicy

[2021-03-02 23:51] vhvb1989 commented on #1758
It's a way for a customer to control exactly what id is sending to the server.

[2021-03-02 23:52] Jinming-Hu commented on #1758
okay, I don't understand why customer wants to do that

[2021-03-02 23:53] Jinming-Hu commented on #1758
Customer who wants to do it can do it via policy, right? This is not a common feature request

[2021-03-03 05:25] Jinming-Hu commented on #1343
So do you suggest `Response<bool>` or `Response<DeleteBlobResult>`?

[2021-03-03 05:41] danieljurek opened #1765 "Investigate using vcpkg binary cache"
This is a first-class feature in vcpkg. At this point the DevOps caching we've been using has not negatively impacted the reliability of our compile steps. Both features depend on network access.

[2021-03-03 17:45] vhvb1989 opened #1766 "Create ResponseClassifier for retry policy"
[code]
#
You might consider adding a type like .NET's `ResponseClassifier` so you could do more than status codes.  We also retry based on certain exceptions and allow folks to override so we can retry on different `x-ms-error-code` header values when we need more fine grained control.

[2021-03-03 19:11] vhvb1989 opened #1767 "Remove the ValuePolicy from Azure Core"
Consider refactoring any sdk client using this policy.

One of the reasons why this Policy exists is based on the protocol implementation of a service where the API operations don't have access to the client options.

For example, imagine we create client `A` with client options : `{ version: 1.0 }`
The clientOptions is a member inside A.
Then, when we call `A.Foo()`,  This api method have access

[2021-03-03 20:51] #1737 closed

[2021-03-03 20:58] ahsonkhan opened #1769 "The SDK should have some mechanism to validate arguments passed in to public APIs"
One typical answer is to add argument checks and throw `std::invalid_argument` error. If we like this approach, let's add such argument validation along with unit tests to all the public APIs that don't yet have it.

For example, validate negative input lengths or null pointers.
https://github.com/Azure/azure-sdk-for-cpp/blob/d782c99777a234fb5c479d176063a7fe169d6b6a/sdk/core/azure-core/inc/azure/c

[2021-03-03 23:25] #1732 closed

[2021-03-03 23:33] vhvb1989 opened #1770 "Should ClientSecretCredentialOptions derive from clientOptions?"
`ClientSecretCredentialPolicy ` is an special policy which needs to send an Http request to get an auth token.

The policy can send the request with any of the next strategies:
- Get the default transport adapter directly, create the request and send it. (easiest approach, no retry capabilities)
- The policy can export `TrasportOptions` as part of the `ClientSecretCredentialOptions ` so anyone usi

[2021-03-04 02:45] Jinming-Hu opened #1772 "per-call and per-retry policies in ClientOptions should be public"
There are 2 things I will follow up after this PR is merge that you mentioned:
- Should ClientSecretCredentialOptions derive from clientOptions?
- Should per-call and per-retry end-user's policies array be public?

_Originally posted by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/issues/1734#issuecomment-790146745_

[2021-03-04 02:46] Jinming-Hu commented on #1772
* We do not need AddPolicy/GetPerCallPolicies/GerPerRetryPolicies methods.

* Making it a struct is good as all members should be public

_Originally posted by @JeffreyRichter in https://github.com/Azure/azure-sdk-for-cpp/issues/1734#issuecomment-789953349_

[2021-03-04 02:47] vhvb1989 commented on #1772
https://github.com/Azure/azure-sdk-for-cpp/pull/1771

[2021-03-04 05:25] antkmsft opened #1773 "Add operator<<(std::ostream&, AzSdkType)"
This came up during usability studies / manually putting ourselves into customer shoes.

* There should be an overload for HttpStatusCode (casts to int)
* For DateTime (I suggest Rfc3339 with all digits, as it has fractional seconds, and gives maximum precision)
* Review if anything else needs it.
* Extensible enums probably don't, because they are strings.

[2021-03-04 05:26] antkmsft commented on #1773
cc @ahsonkhan

[2021-03-04 05:34] ahsonkhan commented on #1773
We might want to include other types too like `RawResponse`, `Url`, `Response<T>`, `Uuid`, etc. It's almost equivalent to .NET's `ToString()` methods on types and `DebuggerDisplay` for ease of diagnosability while using the SDK types so users can quickly output useful string representation of such types to `std::cout`.

Any others come to mind @vhvb1989 and @RickWinter that could benefit from this

[2021-03-04 05:40] JeffreyRichter commented on #1767
I think we want to keep this in Core as Internal.
The one usage we have for it today is to support the customer changing the API version used when talking to the service - all client libraries will require this.

[2021-03-04 05:51] vhvb1989 commented on #1767
No other language need this policy for the same problem.
The C++ keyvault service does not use it or need it.
There are many ways to implement the convince and protocol layer from sdk services to not depend on a value policy like the one we are trying to keep.

[2021-03-04 05:57] JeffreyRichter commented on #1767
KeyVault will need this too. If you look at https://docs.microsoft.com/en-us/rest/api/keyvault/createkey/createkey, you see api-version=7.1. When they add another version (like 7.2), then this functionality will be required.
You are correct that other languages do not do this this way they require that each client have customer code IN EACH OPERATION METHOD to change the api-version. Our C++ way v

[2021-03-04 07:17] vhvb1989 commented on #1767
All we need is operation methods to have access to the client options.
Some ways to make this:
- Factory pattern in service-common-package `Request InitServiceRequest(clientOptions)`. This will ensure a single common place for creating a request for all packages from the service. Instead of setting this per each client pipeline, all method operations just calls the `InitServiceRequest`. Usually it

[2021-03-04 10:20] Jinming-Hu commented on #1767
Maybe it's just my personal opinion, but I hate everything about inheritance. My design principle is "simplicity over complexity". Your proposal looks too complicated, over-abstracted and I don't think it's worth it at all.

if you google "inheritance abuse/anit-pattern/bad practice", you'll find i'm not the only one who doesn't like it. From my perspective, the only reasonable use of inheritance

[2021-03-04 14:08] Jinming-Hu opened #1776 "compiler warning in client_options.hpp"
[code]

https://github.com/Azure/azure-sdk-for-cpp/blob/3eab83a635af6ece7554c8a3a4fab1ba63a748e2/sdk/core/azure-core/inc/azure/core/internal/client_options.hpp#L35

[2021-03-04 14:10] Jinming-Hu opened #1777 "compiler warning in json.hpp"
[code]

https://github.com/Azure/azure-sdk-for-cpp/blob/3eab83a635af6ece7554c8a3a4fab1ba63a748e2/sdk/core/azure-core/inc/azure/core/internal/json.hpp#L4630

[2021-03-04 14:29] Jinming-Hu opened #1778 "Reconsider the constructor of HttpPipeline"
https://github.com/Azure/azure-sdk-for-cpp/blob/3eab83a635af6ece7554c8a3a4fab1ba63a748e2/sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp#L72

Jeffrey's this https://github.com/Azure/azure-sdk-for-cpp/pull/1734#discussion_r586688975 inspired me.

[code]

Then why do we need parameter `perRetryPolicies` and `perCallPolicies` in `HttpPipeLine` constructor? Client code can prepend or app

[2021-03-04 17:40] vhvb1989 commented on #1778
Those parameters are for the policies defined by the service client. It is different from the ones in the client options which belongs to the end-users.

The end-user policies are expected to be after the client-service policies. This is because end-user is the last possible overriding possibility for the request.

If we use only the policies from the client options, then service-clients would nee

[2021-03-04 21:27] #1157 closed

[2021-03-04 21:48] #1772 closed

[2021-03-04 21:59] vhvb1989 commented on #1777
Can you add more details @Jinming-Hu ?
- What compiler ?  what version?
- What's the CMake generate script ?  triplet ??

I need this to reproduce, fix and test.

[2021-03-04 21:59] vhvb1989 commented on #1777
After adding more data, please assign it to me

[2021-03-04 22:03] vhvb1989 commented on #1776
Same as the other, please add more info for how to reproduce. Then please assign to me

[2021-03-04 22:05] vhvb1989 commented on #1773
I remember sometime ago @JeffreyRichter  mentioned something about why these operators are better not to have.

I am adding all team to the assigner list to comment and work the designing.

[2021-03-04 22:06] antkmsft commented on #1773
JFYI, https://github.com/Azure/azure-sdk-for-cpp/pull/1752 adds it for DateTime.

[2021-03-04 22:06] vhvb1989 commented on #1769
@ahsonkhan  this one seams complicated to be completed as part of March-2021.  Can we move it to backlog or at least to April?

[2021-03-04 22:08] vhvb1989 commented on #1754
Moving to the backlog as there's not a good design approach to replace the NextPolicy abstraction

[2021-03-04 22:09] #1746 closed

[2021-03-04 23:06] ahsonkhan commented on #1769
Yes. It shouldn't be API breaking.

[2021-03-05 00:51] ahsonkhan commented on #1773
Please do that in a separate PR.

[2021-03-05 02:31] Jinming-Hu commented on #1778
@vhvb1989 service client knows which policy is from service client itself and which policy is from end user. So service client can properly sort these policies. Once these policies are passed down to core sdk, there isn't this kind of difference any more. Because core sdk deals all these policies in the same way, it doesn't need to know which policy is from service client and which policy is from

[2021-03-05 02:32] #1777 closed

[2021-03-05 02:32] #1776 closed

[2021-03-05 02:40] Jinming-Hu commented on #1778
anyway, just a suggestion. If you think it doesn't make sense, i'll jus close it

[2021-03-05 02:40] #1778 closed

[2021-03-05 03:05] Jinming-Hu commented on #1769
Some of the examples are pre-conditions, and according to the [guidelines](https://azure.github.io/azure-sdk/cpp_introduction.html#cpp-errors), we should crash rather than throw.

[2021-03-05 03:07] Jinming-Hu commented on #1769
And I believe it's fine if we don't validate at all, just leave it undefined. Undefined behavior is widely used in C++ world.

[2021-03-05 03:13] Jinming-Hu commented on #1769
https://github.com/Azure/azure-sdk-for-cpp/blob/d782c99777a234fb5c479d176063a7fe169d6b6a/sdk/core/azure-core/inc/azure/core/io/body_stream.hpp#L154-L156

for this example, we only check if it's null pointer. What if it's a dangling pointer? And what if the length is larger than the memory actually allocated? We cannot validate all the bad cases anyway. So I don't suggest to take half measures.

[2021-03-05 03:15] ahsonkhan commented on #1777
@Jinming-Hu how come you closed the issue? Did you figure out what went wrong? If so, please share.

[2021-03-05 03:28] Jinming-Hu commented on #1777
@ahsonkhan No, I just came across this issue last night, but when I tried to repro this morning, it's gone. Maybe I'll reopen next time I run into it

[2021-03-05 03:32] ahsonkhan commented on #1777
Sounds good. Make sure to capture the repro environment and the steps you took if any such issues occur again, especially if they are difficult to reproduce or intermittent :)

[2021-03-05 03:57] vhvb1989 commented on #1778
Nop, The end-user policies are meant to override any value from the service.  If the service needs to take care of the order, the policies would need to be pushed in to the vector at the first position (and not to the end), how would that work with std::vector? (would it require to copy all the array to new memory?)

Service don't really need to worry about the ordering.

[2021-03-05 05:09] Jinming-Hu commented on #1343
I'll go with `Response<DeleteBlobResult>` if nobody has preference or suggestion.

[2021-03-05 05:54] #1343 closed

[2021-03-05 06:00] ahsonkhan opened #1786 "Add unit tests for various Nullable<T> operators"
@RickWinter
Add a test for the operators:

[code]

_Originally posted by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/issues/1761#issuecomment-789248396_

[2021-03-05 07:45] vhvb1989 opened #1787 "Copy constructor from clientOptions is inclompleted"
The copy constructor only take care of cloning the per retry and per call policies but it is not initializing the other options based on the copied reference

[2021-03-05 16:46] RickWinter opened #1789 "Namespace organization"
Move the types in azure-core package based on feedback and discussions with archboard members.

### Service Namespaces
Services are under top level `Azure::`.  Core is grouped as "service" to avoid cluttering the toplevel namespace.
`Azure::Storage::....`
`Azure::Security::...`
`Azure::Security::KeyVault::...`

azure-core is treated as a service for grouping purposes.  The types under Azure::Core

[2021-03-05 17:47] vhvb1989 commented on #1787
fixed by https://github.com/Azure/azure-sdk-for-cpp/pull/1788

[2021-03-05 17:47] #1787 closed

[2021-03-05 19:16] danieljurek commented on #1641
We have infrastructure that will allow us to put the CHANGELOG.md in the commit message. Adding iteratively to the PR body is not supported at this time.

[2021-03-05 19:23] danieljurek commented on #1361
After some discussion and analysis of a subset of `Vcpkg Cache` runs we are going to start with a timeout at 10 minutes. The overall average run time of successful (cache hit or cache miss) `Vcpkg Cache` runs is under 1 minute.

[2021-03-05 20:16] #1639 closed

[2021-03-05 20:16] #1722 closed

[2021-03-05 20:27] RickWinter opened #1793 "Add serializers for converting partially returned responses"
Using a Model type against a previous version of the service could result in an incomplete model for some required fields.  Rather than make every type nullable we should provide a mechanism for those on older SDKs to construct inconplete models.

[2021-03-05 20:28] RickWinter commented on #1702
As part of the cleanup we will address this

[2021-03-05 22:14] antkmsft opened #1795 "Non-optional Options"
`TokenRequestOptions` can have no meaningful default value. It is its only problem, other than the fact that it has a name that ends with "Options", which means a specific thing within our SDK - it is that it could be made optional / so there must be some default value that makes sense.
Let's rename it to `TokenRequestContext`/`TokenRequestParameters`?
Or, redefine our guidelines a bit, to allow n

[2021-03-05 22:39] #1742 closed

[2021-03-05 23:14] vhvb1989 opened #1797 "Context does not support unique ptr addition"

[2021-03-05 23:22] antkmsft opened #1798 "Move ValueBase, and maybe ContextValue into Context class"
1. These types show up in IntelliSense, but they do not make much sense outside of the conceptual scope of Context, so I think they should be inside Context class. Also, they won't draw as much attention during API reviews.
2. Maybe ValueBase can even be made private?
3. ContextValue becomes `Context::Value`, `ValueBase` becomes `Context::Value::Base`?

[2021-03-06 02:50] RickWinter opened #1804 "WinHttpTransport GetRawResponse should be ExtractRawResponse"
The private member is taking the raw response so it should be Extract since it takes over ownership of the memory.

    std::unique_ptr<RawResponse> GetRawResponse(
        std::unique_ptr<Details::HandleManager> handleManager,
        HttpMethod requestMethod);

[2021-03-06 02:59] RickWinter opened #1805 "Response.GetRawResponse has undefined behavior"
If the rawresponse is not present then the * operator is undefined behavior.

    /**
     * @brief Get raw HTTP response.
     */
    // Do not give up raw response ownership.
    Http::RawResponse& GetRawResponse() { return *this->m_rawResponse; }

This function should be throwing if the value is null or alternatively could switch to return a pointer with the contract that GetRawResponse may be

[2021-03-06 03:46] ahsonkhan commented on #1804
I don't understand what you mean here about taking ownership.

The `GetRawResponse` method in the transport talks to the azure service and creates a `RawResponse` object to give to the caller. I don't think extract makes sense in this case.

Since the transport adapter's Send method is creating the object from scratch and giving it as unique ptr to the caller, the current name seems fine to me (es

[2021-03-06 04:33] #1739 closed

[2021-03-06 04:35] RickWinter opened #1806 "Add RawResponse accessors on Storage LRO types"
See PR
https://github.com/Azure/azure-sdk-for-cpp/pull/1803

[2021-03-06 06:20] vhvb1989 commented on #1804
Based on what you mentioned @ahsonkhan , it would be better to name it `Send()`  or `OnSend()`.
Even though it is private, it end up being misleading because we use `Get....()` for method on containers or wrappers like Response<T>, Operation<T>, Request, etc.  Containers which would return a copy or reference to its encapsulated state or Extract...() to give up state.

Would you agree on updating

[2021-03-06 08:26] #1806 closed

[2021-03-06 09:02] antkmsft commented on #1797
@vhvb1989 , this was fixed in #1796, correct? - should we close?

[2021-03-06 17:42] #1797 closed

[2021-03-07 02:03] #626 closed

[2021-03-07 02:03] #1048 closed

[2021-03-08 17:17] #1743 closed

[2021-03-08 17:31] RickWinter commented on #1789
cc @JeffreyRichter

[2021-03-08 18:02] RickWinter commented on #1433
@antkmsft Is the code structured in a way that this can be changed post GA?  If so move this to backlog otherwise we need to fix in April

[2021-03-08 18:15] RickWinter commented on #1685
We've decided the package version is not a detail.  This is now by design.

[2021-03-08 18:15] #1685 closed

[2021-03-08 19:38] ahsonkhan commented on #1789
**I support `HttpRange` renaming.** We shouldn't have Method, StatusCode, or Range. The way to reason about this is chances of collision and ease of documentation/discover-ability in SEO. RawResponse is specific enough that it doesn't need Http prefix, that's how I would draw the line.

**We should move `RequestFailedException` to root Azure**, and not change things about it, and definitely not us

[2021-03-08 20:09] #1514 closed

[2021-03-08 20:09] danieljurek commented on #1302
@sima-zhu -- I think this change has merged. Can we close this?

![image](https://user-images.githubusercontent.com/2158838/110375710-2f341180-8007-11eb-9ae7-06dc415fb492.png)

[2021-03-08 20:12] sima-zhu commented on #1302
Right, it got resolved. Closed the issue and feel free to reopen if any other issues left

[2021-03-08 20:12] #1302 closed

[2021-03-08 22:42] vhvb1989 opened #1815 "Refactor Context withValue to not taking an std::string for key. Use pointer directly"
As mentioned in team meeting.
Suggested by @JeffreyRichter  and @antkmsft

[2021-03-08 23:46] #1361 closed

[2021-03-08 23:56] danieljurek commented on #917
This change doesn't really require `Central-EngSys` .. It can be done at any time by updating https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/vcpkg-commit.txt

cc @vhvb1989

You'll want to run all test pipelines by adding comments like `/azp run cpp - core` in the PR to kick off all of the pipelines. To be most confident I recommend running live tests.

[2021-03-09 00:05] danieljurek commented on #1365
We support overriding the PR title today at queue time. I've opened https://github.com/Azure/azure-sdk-tools/issues/1474 to track the possibility of updating the PR title.

[2021-03-09 00:22] #1365 closed

[2021-03-09 00:35] ahsonkhan opened #1816 "Is it feasible to typedef Nullable<T> to mirror Optional<T> when the user application supports C++17 or above."
Consider using typedefs to treat `Nullable<T>` as `optional<T>` when the user application does support C++17, even though the SDK targets C++14.
https://en.cppreference.com/w/cpp/utility/optional

Our nullable type is very similar to optional, so I am wondering if this is feasible without the calling code be broken regardless of what language version the user references.

cc @antkmsft, @RickWinter

[2021-03-09 01:09] CaseyCarter commented on #1816
The type switching is fairly trivial to do absent any concerns about ABI compatibility - we simply need to arrange for `nullable.hpp` to only define a template alias:
[code]
when compiling in C++17-or-later modes. Note that doing so violates the One Definition Rule if a binary is composed of translation units that are not all compiled in the same language mode. Such an ODR violation will produce h

[2021-03-09 03:12] JeffreyRichter commented on #1789
ETag, MatchConditions, ModifiedConditions, and Response are all http-specific, I think they should be in the HTTP namespace.
They are meaningless for non-HTTP services like EventHub or ServiceBus (AMQP) or IoT (MQTT).

DateTime is in Azure but String, Uuid, URL, Version are in Azure::Core? Seems arbitrary to me. There is no way a customer will grok this.

Also, we have many public functions that t

[2021-03-09 19:26] ahsonkhan commented on #1816
How common is that in practice?

Right, I don't think we can make `Nullable<T>` match the layout of `optional<T>`.

I don't follow what you are recommending here. Are you suggesting we don't support this type switching even though we are not promising ABI compatibility with the SDK?

[2021-03-09 19:55] CaseyCarter commented on #1816
I don't have telemetry, but in general I believe it's fairly common. C++ programs that grow large enough accrete library dependencies, and those libraries are often built with their own particular configuration and statically linked to sidestep DLLs completely. Given our lack of ABI stability guarantees, it may be reasonable for us to document that all client code that interacts with Azure SDKs mu

[2021-03-09 20:02] #1702 closed

[2021-03-09 21:05] ahsonkhan commented on #1804
Given this has little to no material impact (or benefit) to the end user, I am fine with whatever name folks feel fits best here (something like `SendRequestAndGetResponse()`). I am also OK with leaving it as is and closing the issue.

Given the priority of other, more important, changes, moving to backlog.

[2021-03-09 21:18] ahsonkhan commented on #1789
That's true. However, from a usability/discoverability perspective, we wanted to raise the visibility of certain very commonly used types to the root `Azure` namespace. For example, almost all client library APIs return a `Response<T>`.

The `Strings` namespace is not about a string type, but rather some string helper methods like ToLower/etc. Do you have a suggestion for this?
Similarly, `Version

[2021-03-09 22:00] ahsonkhan commented on #1795
cc @RickWinter, @JeffreyRichter

[2021-03-09 22:35] vhvb1989 commented on #1767
After talking to @JeffreyRichter , we decided this policy won't be exposed by Core.
Storage can host it and use it.
I will create a PR for Apr release to make the change. (It is not a breaking public change)

[2021-03-09 23:11] JeffreyRichter commented on #1789
If we do an EventHubs or ServiceBus client library, then Response<T> will NOT be used at all and having the HTTP types in the Azure namespace is just noise now for types that will never be used.

The Strings functions (ToLower/etc.) I would not expose to customers at all. But, if we really need to for some reason, then put them on the Convert class?

I'm not on board with the "common for customers

[2021-03-09 23:43] ahsonkhan commented on #1789
Imo, some service SDKs not needing it is fine. Other languages have made that decision to highlight types like `Response<T>` even when not used by **all** services. I think the set of APIs/types used by **all** will be low (maybe even zero).

It remains useful to expose some SDK types at the root, following a guideline like this:
**Any type that is heavily used as an exchange type (or expected to

[2021-03-09 23:53] JeffreyRichter commented on #1789
So, let me ask you: Is the Convert class common enough to be in Azure or Azure:Core?

Distributed tracing is done via a pipeline policy so I would put the policy's option structure in our HTTP namespace.

If we have some default loggers, then they can be in a logging namespace or, then can be nested in the Log class. To me logging is important to customers to detect problems at test AND deployment

[2021-03-10 05:41] Jinming-Hu opened #1828 "latest master branch CI failed"
commit bc564dbddd0371e222105bd539bbbe8ba8e45fe1

https://github.com/Azure/azure-sdk-for-cpp/runs/2073602094

[2021-03-10 05:50] #1805 closed

[2021-03-10 05:53] vhvb1989 commented on #1828
Looks like a regression after renaming the internal and details namespace for the json test cases.
Investigating...

[2021-03-10 07:40] Jinming-Hu opened #1831 "Unify the interface of Response<T>::GetRawResponse and Operation<T>::GetRawResponse"
https://github.com/Azure/azure-sdk-for-cpp/blob/8bf8ebb53c3a276278bcece002f50bb0f54b08fe/sdk/core/azure-core/inc/azure/core/operation.hpp#L59

https://github.com/Azure/azure-sdk-for-cpp/blob/8bf8ebb53c3a276278bcece002f50bb0f54b08fe/sdk/core/azure-core/inc/azure/core/response.hpp#L54

One returns pointer while the other returns reference, wouldn't it better if they're consistent?

[2021-03-10 07:41] Jinming-Hu commented on #1831
Another question is, would it make more sense if returning const reference?

[2021-03-10 07:41] Jinming-Hu commented on #1831
Another question is, should we have `ExtractRawResponse` for `Operation<T>`?

[2021-03-10 17:12] danieljurek commented on #1341
Adding `continueOnError` is not recommended because the cache step can fail for reasons which may not be network-related and result in the cache having an unknown state: https://github.com/Azure/azure-sdk-for-cpp/issues/1361#issuecomment-784580613

[2021-03-10 17:12] #1341 closed

[2021-03-10 17:44] RickWinter commented on #1084
@ahsonkhan Lets leverage the doc work we did for the studies and get them into the repo.  When we have a better home on msdocs we can move the conceptuals there.

[2021-03-10 19:57] #1389 closed

[2021-03-10 20:01] danieljurek commented on #1641
This is merged.

[2021-03-10 20:01] #1641 closed

[2021-03-10 21:46] vhvb1989 opened #1838 "Create `StringExtensions` and move the string functions from Azure::Core::_internal::Strings to this class"

[2021-03-10 22:13] #1838 closed

[2021-03-10 22:20] vhvb1989 opened #1841 "Move URL from Azure::Core::Http to Azure::Core"

[2021-03-10 22:47] ahsonkhan opened #1842 "Investigate alternative ways to get the OS information on windows without relying on registry keys"
Today, we use the registry to fetch the OS info.
https://github.com/Azure/azure-sdk-for-cpp/blob/76870c44144cc426f0a0c4d3104eeb915ac002b6/sdk/core/azure-core/src/http/telemetry_policy.cpp#L35-L42

Consider using an alternative like GetVersion (investigate other approaches that might be better suited):
https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getversion

That said

[2021-03-10 22:48] ahsonkhan commented on #1831
cc @RickWinter and @JeffreyRichter

[2021-03-10 23:26] RickWinter commented on #1815
Comment from Jeff:

[2021-03-10 23:39] vhvb1989 opened #1845 "Move Http Policies to Azure::Core::Http::Policies"

[2021-03-10 23:54] vhvb1989 opened #1848 "Move Nullable<T> from Azure::Core to Azure::"

[2021-03-11 00:23] vhvb1989 opened #1850 "Update TransportException to derive from RequestFailedException as the container for Http exception"

[2021-03-11 00:25] #1638 closed

[2021-03-11 00:27] RickWinter commented on #1201
cc @ahsonkhan Add the three fixes that you plan to make.

[2021-03-11 00:29] RickWinter commented on #1643
ValuePolicy is moved

[2021-03-11 00:29] #1643 closed

[2021-03-11 00:40] RickWinter commented on #1338
This is about underlying implementation

[2021-03-11 00:42] #1795 closed

[2021-03-11 02:02] #1716 closed

[2021-03-11 02:55] #1845 closed

[2021-03-11 02:56] #1848 closed

[2021-03-11 04:07] ahsonkhan opened #1853 "Avoid, or minimize, exposing windows.h header from our public headers (either directly or indirectly)"
1) For places where we have private fields coming from that header, use `void*` and cast it to the appropriate type in the cpp source file. This is similar to:
https://github.com/Azure/azure-sdk-for-cpp/blob/a9c0637e462f80340ac7b912fe9c52df0b4d39ec/sdk/storage/azure-storage-common/inc/azure/storage/common/xml_wrapper.hpp#L40
https://github.com/Azure/azure-sdk-for-cpp/blob/a9c0637e462f80340ac7b912f

[2021-03-11 07:19] vhvb1989 opened #1861 "Regression on Contex value for storage retry policies implementation"
Since Context can now only return const& to the value, if we insert a unique_ptr, it needs to be accessed through a `const&  unique_ptr<T>`

[2021-03-11 07:22] vhvb1989 commented on #1861
![image](https://user-images.githubusercontent.com/24213737/110750562-8698d400-81f7-11eb-8975-63476f430d05.png)

[2021-03-11 07:29] #1841 closed

[2021-03-11 07:53] #1861 closed

[2021-03-11 12:24] Jinming-Hu commented on #1853
I'll handle `file_io.hpp`

[2021-03-11 12:30] Jinming-Hu commented on #1815
Cannot use typeid as the key. If we have two variables both of which are boolean, typeid will be the same, then there's no way to tell one from the other.

[2021-03-11 16:49] RickWinter opened #1865 "Response::GetRawResponse needs to return a const&"
GetRawResponse is return a ref to the underlying response data.  That should be const& b/c we do not want the response modified.

[2021-03-11 17:55] ahsonkhan opened #1867 "[Win x86] Intermittent failures when building unit test targets like azure-template-test or azure-core-global-context-test related to msbuild/applocal.ps1, exits with error code 1"
We observe two instances of this issue in the last 24 hours.

From https://github.com/Azure/azure-sdk-for-cpp/pull/1866
https://dev.azure.com/azure-sdk/public/_build/results?buildId=778976&view=logs&j=5f43df56-f144-584b-8cac-2916b6897a0a&t=a1fb0146-149e-52cd-2e15-1c1574bb10c5&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c
[code]

and https://github.com/Azure/azure-sdk-for-cpp/pull/1830#issuecomment-796444

[2021-03-11 18:00] ahsonkhan commented on #1867
Here's the vcpkg script running:
https://github.com/microsoft/vcpkg/blob/801084007159e0b1b4c95134e754d876e688ebed/scripts/buildsystems/msbuild/applocal.ps1#L1-L2

[2021-03-11 18:13] ahsonkhan opened #1868 "Some libcurl tests failing intermittently with segfault on linux after connectionPoolTest fails to resolve host name"
From https://github.com/Azure/azure-sdk-for-cpp/commit/f1773636c29c1acbd2464c2bd50ca7c35c84bf3a
![image](https://user-images.githubusercontent.com/6527137/110833784-aa890380-8251-11eb-8e8d-f15040bb88bb.png)

https://dev.azure.com/azure-sdk/public/_build/results?buildId=777495&view=logs&j=fda9a6e2-14f0-5864-d894-5f56622f20fa&t=4d31d3ea-4e03-5255-0249-577ed0f8d090&l=2936

Does the connection pool te

[2021-03-11 18:24] ahsonkhan commented on #1853
@RickWinter let's consider adding this to the guidelines too.

[2021-03-11 18:30] ahsonkhan opened #1869 "Storage Common should use `_internal` for types used by other packages, not `_detail`"
For example Storage Common has the `FileReader` APIs that are used by other packages like Storage Blob and File Share, but is within the `_detail` namespace.

This should be in `_internal` since our guideline is that `_detail` is meant for private to the package (i.e. not meant for use outside the package).

https://github.com/Azure/azure-sdk-for-cpp/blob/ec1c92f2ea2d3d7ecee4ee704141114f4204ddd6/s

[2021-03-11 19:09] ahsonkhan commented on #1865
Similar to `Operation<T>` which was fixed in https://github.com/Azure/azure-sdk-for-cpp/pull/1852.

[2021-03-11 19:14] danieljurek commented on #1457
This was closed because the DNS issues happened on Windows and Mac machines.

Bringing this back: Let's investigate whether it'll help with a Linux failure that we've seen: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=779191&view=logs&j=fdb9ce2e-b1c4-56cd-06a6-8aba558b4164&t=7d9e21b6-16eb-5d87-3478-dbe79b318045&l=12

[2021-03-11 20:02] JeffreyRichter commented on #1815
Most of the calls to set/get values is by Core/client libraries; not customer code. So, we'd just mandate that the Boolean (to use your example) be wrapped in a struct:
struct Foo {
   bool on
}

then the typeids will be unique.

The ONLY time I'd expect a customer to get/set a value is if the customer defines their own policy which is a super advanced scenario.  And, in this case, if they want to

[2021-03-11 21:49] antkmsft commented on #1865
Fixed by #1825.

[2021-03-11 22:19] antkmsft commented on #1865
We need to only have the const version. But then GetBodyStream() needs to return const ref. And if we want a version that returns a unique_ptr,  it needs to be named ExtractBodyStream().
No methods named "Get..." should return unique_ptrs. It should be Extract... or Create... - Review SDK for that.

[2021-03-11 22:20] antkmsft opened #1873 "No methods named "Get..." should return unique_ptrs. It should be Extract... or Create..."
No methods named "Get..." should return unique_ptrs. It should be Extract... or Create... - Review SDK for that.

_Originally posted by @antkmsft in https://github.com/Azure/azure-sdk-for-cpp/issues/1865#issuecomment-797087985_

`std::unique_ptr<Azure::Core::IO::BodyStream> GetBodyStream()` - Extract?
`std::unique_ptr<RawResponse> GetRawResponse(...)` - Create?
`std::unique_ptr<CurlNetworkConnecti

[2021-03-11 22:53] vhvb1989 opened #1876 "Update the Poll() return type from Operation to RawResponse const&"
We are currently returning std::unique_ptr<RawResponse> from Poll() which becomes hard to make the Operation to return the latest rawResponse when calling GerRawResponse after Poll()

[2021-03-11 22:53] antkmsft opened #1877 "CurlTransportSSLOptions should be named CurlTransportSslOptions"
2 letter acronyms are all caps, 3 letter acronyms go Pascal, correct?
Also, write a regex and verify the entire code base.

[2021-03-11 23:58] Jinming-Hu commented on #1815
struct Foo {
bool on
}

This makes context less convenient to use.

Unfortunately, no. Multiple calls to `typeid()` don't guarantee to return the same pointer. https://stackoverflow.com/questions/5778560/will-multiple-calls-to-typeidt-name-return-the-same-pointer

[2021-03-12 00:02] Jinming-Hu commented on #1815
@antkmsft 's proposal in this https://github.com/Azure/azure-sdk-for-cpp/pull/1824#discussion_r590942383 can work very well.

[2021-03-12 00:24] JeffreyRichter commented on #1815
Well, I don't feel that strongly about this. So I'm fine with an explicit key and I think a void* is smaller/faster than a string.

[2021-03-12 00:29] Jinming-Hu commented on #1815
We compare key by pointer in Anton's proposal. It's as fast as comparing `void*` and easy to use. That's why I think it's the best option.

[2021-03-12 01:28] antkmsft opened #1880 "Context: review `CancelAtMsecSinceEpoch(ToMsecSinceEpoch(cancelAt))`"
That looks like something that can be rewritten to use DateTime / may not work correctly if it currently uses DateTime

[2021-03-12 02:06] antkmsft opened #1881 "Context::GetApplicationContext() can be a static data member (Context::Application)"
Suggestion:
`Context::GetApplicationContext()` can be a static data member `Context::Application`

[2021-03-12 02:13] antkmsft opened #1882 "Policies (not their options) are public. Shoud they be _internal?"

[2021-03-12 03:18] #1876 closed

[2021-03-12 04:23] ahsonkhan opened #1885 "FileShareClientTest.ShareTierRelated intermittently fails with different last modified date"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=780577&view=logs&j=d4086158-a6c8-5dff-fca6-c08bb4399a66&t=ac840b67-9432-5701-447a-18a269a66211&l=392
[code]

https://github.com/Azure/azure-sdk-for-cpp/blob/76870c44144cc426f0a0c4d3104eeb915ac002b6/sdk/storage/azure-storage-files-shares/test/share_client_test.cpp#L388

As an aside, we should consider comparing datetime strings instead

[2021-03-12 04:51] ahsonkhan commented on #1789
This has been resolved.

@RickWinter the next steps are to update the guidelines with some of the conclusions we reached from this discussion, which I will leave it up to you to decide how to track that change (maybe issue in azure-sdk repo).

[2021-03-12 04:51] #1789 closed

[2021-03-12 04:56] ahsonkhan commented on #1831
Both types now return a reference, so they are consistent. The fix to make it const is being tracked separately by: https://github.com/Azure/azure-sdk-for-cpp/issues/1865
https://github.com/Azure/azure-sdk-for-cpp/blob/a8649822084ffa518484c31870986306d404f240/sdk/core/azure-core/inc/azure/core/operation.hpp#L97
https://github.com/Azure/azure-sdk-for-cpp/blob/a8649822084ffa518484c31870986306d404f24

[2021-03-12 04:56] #1831 closed

[2021-03-12 17:10] danieljurek opened #1889 "CI (non-Live) tests should not reach out to remote services"
In at least one example I'm seeing a CI test attempt to hit a live service: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=780653&view=logs&j=5f43df56-f144-584b-8cac-2916b6897a0a&t=a63c70f6-59e4-531a-efba-82f28f72650d&l=2409

Adding dependencies on live services to the CI reduces the reliability of those pipelines. For a discussion of which type of pipeline to use when see the [in

[2021-03-12 17:11] antkmsft commented on #81
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
[code]

[2021-03-12 20:06] ahsonkhan commented on #1338
We have APIs to convert to and from binary data and base64 encoded text:
- Encoding accepts any amount of bytes and constructs a string, and therefore most inputs are valid
- Decoding, however, can only succeed if a valid base64 encoded string is provided (with the correct character set, number of padding, and length).

**The purpose of this issue is to:**
1) Re-implement the APIs in standard C++

[2021-03-12 20:14] ahsonkhan commented on #1865
@RickWinter did we end up fixing this issue?

[2021-03-12 20:51] RickWinter commented on #1881
@antkmsft Can you elaborate on your proposal.  The design we have was used to avoid static initializer order issues.
https://isocpp.org/wiki/faq/ctors#static-init-order

[2021-03-12 20:53] RickWinter commented on #1873
@antkmsft Please update the issue describe with all offending instances.

[2021-03-12 20:56] vhvb1989 commented on #1865
It returns & but not const&

[2021-03-12 20:58] RickWinter commented on #1880
@antkmsft I'm not sure we want to use DateTime.  I agree we should optimize the performance of this method, the time conversions are expensive.

[2021-03-12 21:02] RickWinter commented on #1877
I suggest we bring this up in the Working Group.  SSL and TLS are typcially referred to in all Caps

[2021-03-12 21:33] ahsonkhan commented on #1881
And please add a target milestone + estimate.

[2021-03-12 22:29] RickWinter opened #1891 "Context: Add GetValueOrDefault"
Add an overload to fetch the value or a default.
Clean up the naming on the context methods

[2021-03-12 23:21] vhvb1989 opened #1893 "Keyvault DeletedKey Operation regression"
After the last refactorization for `Operation<T>`,  the implementation of DeletedKey - PollInternal introduced a bug by updating the internal operation status based on the previous rawResponse instead of using the latest.

[2021-03-12 23:32] antkmsft commented on #1881
@RickWinter I know that sometimes it is tricky to ensure the right static initialization order`*`, but I do not see anything in the Context, that would not work with plain and simple static initialization. Construction of empty context does not rely on any other static instance of anything. Maybe at a time it was, but not anymore.

`*` - nevertheless, it is often still possible to do some tricks t

[2021-03-12 23:44] antkmsft commented on #1880
@RickWinter I think DateTime ended up being useful for more than just the initial goal of over-the-wire parseable string dates. There is also no penalty for using them compared to chrono, because they are basically std::chrono::time_points (just customized for guaranteed precision and years range). I think all the SDK code uses it now, and it is convenient - we use them for token expirations / che

[2021-03-12 23:48] antkmsft commented on #1877
I am fine, as long as there is a guideline. Maybe we should change guidelines for leaving  three-letter-abbreviations capitalized? For example, we have `DateTimeFormat::Rfc1123/Rfc3339`, SHA, HKEY etc. But also have Http, Url, and Uuid. Let's grab the list and review the real examples, decide how they look the best to an eye and try to construct a guideline on top of the desired outcome.

[2021-03-12 23:52] antkmsft commented on #1873
Updated.

[2021-03-13 00:03] antkmsft opened #1894 "Explicit/required options"
I don't want LogPolicy and RetryPolicy to have default options in constructor. I want clients to explicitly pass them. If they want the default behavior, they should create empty options themselves. But if they simply don't provide them, they are likely writing bad code, becuse they will not be respecting client options / something that they will get for free, if only they passed that option to co

[2021-03-13 00:22] #1893 closed

[2021-03-13 01:51] benzapos opened #1895 "docker pull docker.pkg.github.com/arnab-developer/githubpackagedemo/githubpackagedemo:24"
**Query/Question**
A clear and concise ask/query.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.g. IntelliJ]
 - Version of the Library used

 **Information Checklist**
 Kindly make sure that you have added all the following info

[2021-03-13 01:52] benzapos commented on #1895
[]()

[2021-03-13 01:52] benzapos commented on #1895
https://github.com/Azure/azure-sdk-for-cpp/issues/1895

[2021-03-13 02:56] benzapos opened #1896 "#!/system/bin/sh# If you're implementing this in a custom kernel/firmware,# I suggest you use a different script name, and add a service# to launch it from ..."
Package version 69308909

[2021-03-13 02:57] benzapos commented on #1896
#!/system/bin/sh

# If you're implementing this in a custom kernel/firmware,
# I suggest you use a different script name, and add a service
# to launch it from init.rc

# Launches SuperSU in daemon mode only on Android 4.3+.
# Nothing will happen on 4.2.x or older, unless SELinux+Enforcing.
# If you want to force loading the daemon, use "--daemon" instead

/system/xbin/daemonsu --auto-daemon &

#

[2021-03-13 04:51] ahsonkhan commented on #1896
@benzapos this GitHub repo is for the C++ Azure SDK used to talk to services like Azure Storage.

How is your issue related to this repository? Please make sure to file issues in the right location.

[2021-03-13 04:53] ahsonkhan commented on #1895
@benzapos I don't understand the purpose of this issue. Please only open issues that are relevant to this repository and avoid spam. As a reminder, here's our code of conduct: https://github.com/Azure/azure-sdk-for-cpp/blob/master/CODE_OF_CONDUCT.md

[2021-03-13 10:38] benzapos opened #1897 "lucalves:hotfix/expression-example"
lucalves:hotfix/expression-example

[2021-03-13 10:38] benzapos commented on #1897
[]()

[2021-03-13 10:39] benzapos commented on #1897
lucalves:hotfix/expression-example

[2021-03-13 12:06] benzapos commented on #1896
https://docs.google.com/spreadsheets/d/1ougaqFRKHxD_N7TIvJlmnL-BuJeZ7naXSEkutFR34ZI/edit?usp=drivesdk

[2021-03-13 12:09] benzapos opened #1898 "https://github.com/Azure/azure-sdk-for-cpp/issues/1896"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2021-03-13 12:09] benzapos commented on #1898
https://github.com/Azure/azure-sdk-for-cpp/issues/1896

[2021-03-13 12:09] benzapos commented on #1898
``

[2021-03-13 21:35] benzapos opened #1899 "https://photos.app.goo.gl/cL6aZ9dvNVmwJojc8"

[2021-03-13 21:36] benzapos commented on #1899
[code]

[2021-03-13 22:36] benzapos commented on #1899
[code]

[2021-03-14 01:14] benzapos commented on #1896
[]()[]()

[2021-03-14 03:48] ysriram-adobe opened #1900 "[datalake] How to copy files in same account and container"
**Query/Question**
How to copy files in same account and container. Example `datalake_file_client.CopyTo(targetUri)` .

***Why is this not a Bug or a feature Request?***
I'm assuming that the existing `datalake_file_client.DownloadTo(string &path)` but not sure ?

**Setup (please complete the following information if applicable):**
 - OS: MacBook Pro / MacOS Catalina
 - IDE : VSCode
 - Version of

[2021-03-15 17:11] ahsonkhan commented on #1899
Closing as spam.

[2021-03-15 17:11] #1899 closed

[2021-03-15 17:11] ahsonkhan commented on #1898
Closing as spam.

[2021-03-15 17:11] #1898 closed

[2021-03-15 17:11] ahsonkhan commented on #1897
Closing as spam.

[2021-03-15 17:11] #1897 closed

[2021-03-15 17:11] ahsonkhan commented on #1897
Closing as spam.

[2021-03-15 17:11] ahsonkhan commented on #1896
Closing as spam.

[2021-03-15 17:11] #1896 closed

[2021-03-15 17:11] ahsonkhan commented on #1895
Closing as spam.

[2021-03-15 17:11] #1895 closed

[2021-03-15 17:13] ahsonkhan commented on #1900
@Jinming-Hu can you help answer this question. Thanks.

[2021-03-15 17:17] ahsonkhan commented on #1894
Why?

The default behavior of RetryPolicy makes sense to me. We shouldn't force users to pass something when we can provide a simpler starting point. This follows progressive disclosure. This also matches other languages.
https://github.com/Azure/azure-sdk-for-cpp/blob/fc79c5b3ad69fd2c75eae0cd8f9b3a951fff4a11/sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp#L186-L201
https://github.com/

[2021-03-15 17:35] vhvb1989 opened #1901 "Create technical document for Operation<T>"
Help end users or consumers to learn about the Operaion\<T>

[2021-03-15 18:23] vhvb1989 opened #1904 "[KeyVault] Deserialize JsonWebKey"
Add all the logic for de-serialize the JsonWebKey from http raw response.

[2021-03-15 19:02] ahsonkhan commented on #1881
@antkmsft when I file issues, I set a milestone and estimate for what I think makes the most sense. Others on the team (and the person doing the work) can always update it.

[2021-03-15 19:13] antkmsft opened #1906 "Put versions for azure-sdk package dependencies"
Maybe is time to put versions for VcPkg for our own package inter-dependencies.
Let's use `find_package(... EXACT ...)` for betas, and then without the `EXACT` (= min. version) afterwards.
https://cmake.org/cmake/help/latest/command/find_package.html

Maybe, we can get away even without the VcPkg supporting it. Let's try and experiment.

[2021-03-16 00:51] #1804 closed

[2021-03-16 01:17] Jinming-Hu commented on #1900
datalake and blob services are interoperable, so you can use blob client on datalake storage account. Take a look at [StartCopyFromUri](https://github.com/Azure/azure-sdk-for-cpp/blob/009260c50aa8d981594ea67c0e8a00beeb86e8ee/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp#L211)

[2021-03-16 03:25] Jinming-Hu opened #1908 "ShareFileClient::GetRangeListDiff"

[2021-03-16 03:33] Jinming-Hu opened #1909 "Share Enable Protocol and Share Squash Root"

[2021-03-16 03:37] ysriram-adobe commented on #1900
Thank you - Does `StartCopyFromUri` involve data transfer from `src -> client -> target` ? also to improve ease of use a `datalake_file_system::Copy(from, to)` would be much appreciated.

[2021-03-16 03:39] Jinming-Hu commented on #1900
No, storage server performs the copy operation.

[2021-03-16 04:06] vhvb1989 commented on #1689
@antkmsft  can you take a look to this?  My understanding was that we created the required configuration for taking libcurl on windows on demand only

[2021-03-16 04:10] vhvb1989 commented on #727
@ahsonkhan we added a constructor for HttpPipeline which hides the order of the transport adapter and other policies. I think we could close this issue after that.

[2021-03-16 04:13] vhvb1989 commented on #1105
I am closing this issue as something we don't need to implement for any other transport than libcurl.

[2021-03-16 04:13] #1105 closed

[2021-03-16 04:17] vhvb1989 commented on #639
Closing this as this is implemented by the new HttpPipeline constructor which ensures the min set of policies to be in the pipeline

[2021-03-16 04:17] #639 closed

[2021-03-16 04:18] vhvb1989 commented on #1754
Closing this issue, we will keep the NextPolicyClass abstraction

[2021-03-16 04:18] #1754 closed

[2021-03-16 06:07] Jinming-Hu commented on #1767
@vhvb1989 I'm gonna make a PR removing the use of this Policy, so that you can remove it.

[2021-03-16 06:11] #1885 closed

[2021-03-16 06:55] #1869 closed

[2021-03-16 07:14] Jinming-Hu commented on #1894
That would be a very bad user experience, especially for beginners, it makes our sdk less easy to use.

[2021-03-16 08:07] #1622 closed

[2021-03-16 09:14] antkmsft commented on #1894
@ahsonkhan, @Jinming-Hu, this is not about the Options themselves being default-constructible. I agree - they should be default-constructible, and the ClientOptions should have default values for them without requiring the SDK user to specify them - I can't agree more.

But I don't want `std::make_unique<RetryPolicy>()` to compile. I want it to be `std::make_unique<RetryPolicy>(clientOptions.Retry

[2021-03-16 09:44] Jinming-Hu commented on #1894
What's the point? Customers won't use `RetryPolicy` anyway.

[2021-03-16 09:46] Jinming-Hu commented on #1894
You can remove default constructor of `RetryPolicy`. It's fine by me

[2021-03-16 10:02] antkmsft commented on #1894
I agree with both. But this question is about guidelines. Formally, our guidelines are so that all options rather must be optional, always. I might be violating that by having `RetryPolicy::RetryPolicy(RetryOptions retryOptions)` instead of `RetryPolicy::RetryPolicy(RetryOptions retryOptions = RetryOptions())`, and this what this issue is created for.

[2021-03-16 16:18] ysriram-adobe commented on #1900
Question answered. Thank you.

[2021-03-16 16:18] #1900 closed

[2021-03-16 16:26] vhvb1989 commented on #1767
I am taking this issue as soon as #1914 is merged

[2021-03-16 19:09] RickWinter commented on #1773
@ahsonkhan @antkmsft This seems like a reasonable feature to add in the future.  Is there any class that wouldn't work with this feature in the future.

[2021-03-17 00:17] vhvb1989 opened #1920 "Add support for VSCode codespaces."

[2021-03-17 02:34] #1908 closed

[2021-03-17 03:48] Jinming-Hu commented on #1894
This doesn't make any sense. I think your proposal here makes a lot of sense that `RetryPolicy` should NOT be default-constructible. I always have the feeling that you guys have been trying to make guidelines cover everything. But the real world is complex, we often need human intervention or to make judgement calls, rather than just to follow some rigid guidelines.

So if you want to fix the guid

[2021-03-17 16:57] RickWinter commented on #587
@danieljurek We've settled on a layout.  If additional specific changes are warranted please reopen or file a new issue

[2021-03-17 16:57] #587 closed

[2021-03-17 17:02] RickWinter commented on #609
@danieljurek Is this still an active issue?

[2021-03-17 17:09] RickWinter commented on #1694
Moving to backlog.  This is test related and can be fixed/adjusted at a later time

[2021-03-17 17:11] RickWinter commented on #1786
@ahsonkhan Please review and add any tests that you see are missing.

[2021-03-17 17:44] RickWinter commented on #1600
@vhvb1989 Is this blocking releasing the SDK?  It sounds nice to have but not critical.  Should this move to the backlog?

[2021-03-17 17:50] RickWinter commented on #1842
We get a much richer set of information about the OS using the registry.  We could change this in the future as the telemetry is an implementation detail.

[2021-03-17 18:00] RickWinter commented on #1277
@ahsonkhan Please run the tool over the code base and fix spelling issues.  Can you also update the cost estimate.

[2021-03-17 18:02] RickWinter commented on #1120
This would be a data corruption bug if its wrong.  We need to test cases to cover this scenario before GA

[2021-03-17 18:06] RickWinter commented on #344
@antkmsft Please address this as part of the MSI feature.

[2021-03-17 18:10] RickWinter commented on #346
@antkmsft Is this required for MSI or should it be tracked in a seperate Epic.  MSI is currently the only credential we plan to add in the semester.

[2021-03-17 18:15] #1544 closed

[2021-03-17 18:24] RickWinter commented on #1338
This type needs more extensive testing of inputs.  Also we should make this into a header only implementation.  I don't see a need on this one for a .cpp file.
With an extensive test suite we should be able to modify the underlying implementation post GA.

[2021-03-18 02:47] ahsonkhan opened #1926 "The docs for return types on some storage APIs are incorrect and don't match the actual returned type"
Likely a copy-paste issue:
https://github.com/Azure/azure-sdk-for-cpp/blob/a5bc8fe0efa4534a45692c2787642ba1f073a6da/sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp#L160-L164

Search for `DeleteShareDirectoryResult` to find other instances that need fixing.

Noticed this in https://github.com/Azure/azure-sdk-for-cpp/pull/1925

cc @Jinming-Hu

[2021-03-18 05:50] ahsonkhan opened #1929 "Fix up the grammar of docs where we have 'A <word starting with vowel>' -> 'An <word starting with vowel>'"
Looking for `A a` in the repo finds some results. For example:
https://github.com/Azure/azure-sdk-for-cpp/blob/a5bc8fe0efa4534a45692c2787642ba1f073a6da/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp#L138
https://github.com/Azure/azure-sdk-for-cpp/blob/a5bc8fe0efa4534a45692c2787642ba1f073a6da/sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp#L22

[2021-03-18 06:12] ahsonkhan commented on #1926
Fixed in https://github.com/Azure/azure-sdk-for-cpp/pull/1927

[2021-03-18 06:12] #1926 closed

[2021-03-18 07:04] vhvb1989 opened #1934 "Remove the 3rd party httpbin server from unittest. Use inhouse server instance"

[2021-03-18 16:57] joshfree commented on #345
@RickWinter this is a test work item which was completed for the Tier-1 languages back in August 2020.  I'll share a link to the exact steps to verify offline

[2021-03-19 04:56] Jinming-Hu opened #1942 "Go through all return types to make sure we don't miss any headers, especially empty structs"
`x-ms-delete-type-permanent` for Delete Blob

[2021-03-19 19:10] vhvb1989 commented on #1338
@RickWinter @ahsonkhan  I don't think this issue should be blocking-release, neither for April.

Also, I don't think we should re-implement the wheel instead of using the libraries. We are already using openSSL with libcurl and Windows.h for winhttp.  We will not remove the dependencies anyway.

[2021-03-19 19:13] vhvb1989 commented on #1770
leaving ClientSecretCredentialOptions derive from clientOptions as that's how it works in other langs

[2021-03-19 19:13] #1770 closed

[2021-03-19 19:15] vhvb1989 commented on #1868
Haven't seen it happen again.
Please re-open if you see it again

[2021-03-19 19:15] #1868 closed

[2021-03-19 19:16] antkmsft commented on #1770
Agree - I just tested something in .NET SDK with ClientSecretCredential, and it was very convenient to override Log options.
And now I am writing tests for the ClientSecretCredential, and I'm going to override transport.

[2021-03-19 22:16] danieljurek opened #1949 "vcpkg release of azure-template-cpp should always open PR as a draft"
We've seen testing of the template package release generate extra noise while testing changes to the common engineering system.  This noise is impacting our customers in addition to the vcpkg team ([example](https://github.com/microsoft/vcpkg/pull/16778#discussion_r597364585)).

Any time we open a PR for an `azure-template-cpp` port that PR should be opened as a draft as we will never need to publ

[2021-03-19 22:19] ahsonkhan commented on #1949
We should also delete the Git release and tag, as part of the release test artifact cleanup.

[2021-03-19 22:31] ahsonkhan commented on #1868
Can you try re-running that pipeline a few times (maybe 10) and see how often it fails? The intermittent `resolve host name` failure is expected and can be fixed separately, but the segfault when such a failure does occur could be problematic and might benefit from a closer look.

[2021-03-19 22:58] g2vinay opened #1950 "Update Identity README and MS Docs"
Identity README Changes:
- [ ] Align CPP Identity README to look like [this](https://github.com/g2vinay/azure-sdk-for-java/blob/update-identity-readme/sdk/identity/azure-identity/README.md#azure-identity-client-library-for-java) where possible.

MS Docs Change:
- [ ] Update Azure SDK for CPP Identity MS Docs to contain the content as [here](https://docs.microsoft.com/en-us/azure/developer/java/sdk

[2021-03-20 05:06] #1901 closed

[2021-03-20 22:42] #1920 closed

[2021-03-22 16:23] vhvb1989 opened #1952 "Broken link from contributing file"
Broken link:  https://azure.github.com/guidelines.html

Updating to: https://azure.github.io/azure-sdk/policies_opensource.html

[2021-03-22 16:56] #1952 closed

[2021-03-22 18:24] RickWinter commented on #1699
@kyle-patterson @maggiepint Is there a deprecation strategy we should follow?

[2021-03-22 18:27] RickWinter commented on #829
@antkmsft Anton can you can you update this issue with the changes necessary to build with gcc 4.8.
@danieljurek Are RHEL 7 or SLES 12 supported in our pipelines?

[2021-03-22 18:32] RickWinter commented on #917
@antkmsft Lets make this change early this week, please prioritize this.

[2021-03-22 19:54] ahsonkhan opened #1954 "Simplify the public surface area for Response<T> for usability"
# Context and Problem:
- When customers of the SDK call client library APIs which talk to Azure services that return cloud-hosted resources, their properties, or result of "crud-like" REST operations, they primarily care about two things (in the success path):
  - Did the API call succeed and complete the operation as expected?
  - How can I get the returned result to take further meaningful actio

[2021-03-22 21:41] ahsonkhan commented on #1952
How did you discover the link was broken? Did link verification indicate it?

[2021-03-23 04:38] Jinming-Hu opened #1959 "Release pipeline update package version failed"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=797597&view=results

WARNING: Unable to find module repositories.
Value cannot be null.
Parameter name: input
PackageManagement\Install-Package : No match was found for the specified search criteria and module name 'powershell-yaml'. Try Get-PSRepository to see all available registered module repositories.
At C:\program files\powershe

[2021-03-23 17:57] RickWinter opened #1961 "Support KeyVault::Secrets"
Add support for KeyVault::Secrets

[2021-03-23 17:58] RickWinter opened #1962 "Support KeyVault::Certificates"
Add support for KeyVault Certificates

[2021-03-23 18:02] RickWinter opened #1963 "Azure::KeyVault Improvements for C++ (January-June 2021)"

[2021-03-23 19:20] ahsonkhan commented on #1959
@danieljurek once we have root caused and fixed this issue, can we re-run just the update package version step from that release pipeline to auto-generate the version increment PRs for storage?

[2021-03-23 19:29] ahsonkhan commented on #1596
We need log policy and bearer token policy tests:
![image](https://user-images.githubusercontent.com/6527137/112206593-5710a100-8bd3-11eb-897a-71b0822fce86.png)

cc @RickWinter

[2021-03-23 22:31] #1767 closed

[2021-03-24 01:32] ahsonkhan commented on #1959
Re-running the failed step seems to have succeeded. Looks like it was an intermittent issue:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=797597&view=logs&j=423eb92c-7468-532c-ae4a-c088a3b56da1&t=80f356e6-e64a-5db4-6c37-d9e6814bcd0a

[2021-03-24 03:01] danieljurek commented on #1959
That job is idempotent and can be re-run when it fails.

[2021-03-24 03:04] danieljurek commented on #1959
Some more digging into the errors looks like this error message frequently accompanies network failures. It's likely that this is a transient network failure.

[2021-03-24 03:04] #1959 closed

[2021-03-24 10:26] Jinming-Hu opened #1972 "Check if storage sdk is able to handle error response from frontend services like AFD or other CDN"

[2021-03-24 18:08] danieljurek commented on #1288
This was resolved in https://github.com/Azure/azure-sdk-for-cpp/pull/1936

[2021-03-24 18:08] #1288 closed

[2021-03-24 20:18] ahsonkhan opened #1973 "RequestFailedException should contain more error information - status code, error, raw response"
`RequestFailedException` is the base exception type that many of the client library exceptions like StorageException derive from.

This base exception should contain: StatusCode, ErrorCode, the RawResponse, and other important error handling details that we consider common across client libraries.

https://apiview.dev/Assemblies/Review/3bd21beb2d9941a78683ac117c7bae33#d98f9a57e87a4dd395621d036cb3d

[2021-03-24 22:30] ahsonkhan commented on #1954
Fixed in https://github.com/Azure/azure-sdk-for-cpp/pull/1974

[2021-03-24 22:42] JeffreyRichter commented on #1954
Good write-up and I approve of this proposal

[2021-03-24 22:57] vhvb1989 commented on #1954
Question:
- By using the template specialization `Response<void>`, if the server makes a change in the future to return something, wouldn't be easier for the `sdk client` to have the empty placeholder model to just add fields into it? (instead of changing from Response<void> to Response<T>)

[2021-03-24 23:09] ahsonkhan commented on #1954
This is about trade-offs and a balance between future uncertainty and usability of customers today. If we foresee that future happening for some particular API, it makes sense to use an empty placeholder model.
However, if the likelihood of that is low and we create a bunch of empty models that remain empty, we hurt the overall usability of the SDK due to "death-by-thousand-cuts". How often would

[2021-03-25 06:26] Jinming-Hu opened #1975 "Question: how to switch between curl transport layer and winHTTP transport layer when installing via vcpkg"

[2021-03-25 21:24] vhvb1989 opened #1976 "These are details so we can fix later. We should rename all of these and place in structs"
These are details so we can fix later.  We should rename all of these and place in structs
[code]

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-cpp/pull/1967#r600601044_

[2021-03-26 04:09] #1972 closed

[2021-03-26 16:52] vhvb1989 opened #1983 "Add `==` operator to Azure::Nullable<T> to enable direct comparison for the type"
Instead of making end-users to always to:
[code]

Add this support to Nullable<T> so the end customer can directly call
`bool result = nullableA == nullableB;`

[2021-03-26 16:53] vhvb1989 commented on #1983
Currently used as part of Test cases on KeyVault. But it is likely to be used eventually by end-users as a very common operation

[2021-03-26 23:08] antkmsft commented on #1773
We can add it later, if we don't do it today, it will not prevent us from adding it in the future.

[2021-03-27 00:51] antkmsft opened #1986 "SDK should never use abort()"
abort() does not even unwind the stack or close files. Doesn't even call `atexit()`.
http://www.cplusplus.com/reference/cstdlib/abort/

Our SDK is important, but it is not the center of the universe. There's a plenty of things customer application might want to have a chance to do before take the decision to terminate customer's app (which we don't have a right to).

No library should ever call ab

[2021-03-27 01:13] vhvb1989 opened #1987 "[KeyVault] Add samples / champion scenarios for KeyVault keys"

[2021-03-27 03:39] bhardwajs commented on #1986
Yes, a library calling `abort()` is not a good situation. Looking at some of the use-cases, such as `BlobLeaseClient::Acquire`, would it be possible to return `std::nullopt` or throw an exception that the caller can handle?

[2021-03-27 03:55] antkmsft commented on #1986
Unfortunately, we can't do `std::nullopt`, because it is C++17, and we so far don't go beyond C++14 for wider compatibility. But something of that sort would be applicable. Or, again, an exception - either is way better than `abort()`.

[2021-03-29 06:22] Jinming-Hu commented on #1942
Not breaking change

[2021-03-29 06:23] Jinming-Hu commented on #1909
@katmsft Do it before GA

[2021-03-29 06:26] Jinming-Hu opened #1992 "Go through swagger spec finding all missing features"

[2021-03-29 06:34] Jinming-Hu commented on #1699
Storage team agrees with this approach.

[2021-03-29 06:49] Jinming-Hu commented on #370
need to discuss desgin

[2021-03-29 06:50] ahojnnes opened #1993 "Support for Azure Queue Storage"
Support for https://docs.microsoft.com/en-us/rest/api/storageservices/queue-service-rest-api to replace the existing functionality in https://azure.github.io/azure-storage-cpp/

[2021-03-29 06:52] Jinming-Hu commented on #207
depends on https://github.com/Azure/azure-sdk-for-cpp/issues/208

[2021-03-29 06:55] Jinming-Hu opened #1994 "investigate how to use logging policy in storage sdk"

[2021-03-29 09:37] ahsonkhan commented on #1699
@Jinming-Hu can you enumerate some of the other commonplace acquisition points/docs/search results of the track1 storage-SDK that we should route to our newer SDK and notify readers about it.

[2021-03-29 11:30] Jinming-Hu commented on #1699
We're planning to put a notice at the top of Track1 README https://github.com/Azure/azure-storage-cpp/pull/390

[2021-03-29 23:09] vhvb1989 opened #1997 "Move getPreBody API to curl transport adapter"
- Remove the setChunkSize
- Remove SetHeader -> the one with multiple headers, move to winhttp

[2021-03-30 00:26] #345 closed

[2021-03-30 03:32] Jinming-Hu opened #2000 "DataLake rename operation authenticated with SAS doesn't work"

[2021-03-30 17:17] #1873 closed

[2021-03-30 18:17] JeffreyRichter commented on #1342
We use the internal namespace for things that we offer to other Azure service teams building client libraries whose code also resides in our repo. The internal abstractions are not well documented and are designed to support only the scenarios that Azure service teams require; they are not designed in a general-purpose way and we do not support them for general consumption.

So, you can use our in

[2021-03-30 20:12] #1546 closed

[2021-03-30 20:12] #1547 closed

[2021-03-30 20:12] #1548 closed

[2021-03-30 20:12] #1549 closed

[2021-03-30 20:12] #1550 closed

[2021-03-30 20:12] #1551 closed

[2021-03-30 20:12] #1987 closed

[2021-03-31 00:27] vhvb1989 opened #2007 "Fix / Add support for ResumeToken from Operation<T> concrete classes"
# Problem
The current Operations<T> concrete classes from the Azure SDK for C++ on Storage and Keyvault are either aborting (as not implemented) or producing a wring resume token when calling `GetResumeToken()` from the Operation.

## Expected fix
Consider the next statement :  `DeleteKeyOperation operation = client.StartDeleteKey(...);`
Where:
- DeleteKeyOperation:  The Operation<T> concrete clas

[2021-03-31 00:30] vhvb1989 commented on #2007
@JeffreyRichter @RickWinter  please review and mention if there's something to be changed.

[2021-03-31 01:39] Jinming-Hu commented on #2007
I thought it would be like

[code]

[2021-03-31 01:40] Jinming-Hu commented on #2007
But as long as your proposal is approved by working group, I'm happy to do the same for copy operation in storage SDK.

[2021-03-31 15:49] JeffreyRichter commented on #2007
Having a StartXxx method overload on the client is the better design and matches other languages.

But now that I'm thinking about it, I see additional problems. I'm tempted to say that this StartXxx overload SHOULD make 1 polling request to the service to populate the RawResponse, Value, and status fields. This is how it would work in real life (without a polling helper class: The token would be

[2021-03-31 16:44] vhvb1989 commented on #2007
@JeffreyRichter what if we get a resumeToken from a completed operation? Then, on reconstruction, it might fail if we try to poll from it and the server doesn't have a record for the operation to answer about.

And also, the original StartXXX function is not calling `Poll` when it creates the operation. It gets the response from the Server about the operation was created/init and that's all we use

[2021-03-31 17:26] danieljurek opened #2013 "G++ 8 missing from Ubuntu base image"
GCC and G++ 8 have been removed -- https://github.com/actions/virtual-environments/issues/2950

Install them if needed.

[2021-03-31 18:10] vhvb1989 commented on #2007
After conversation with Azure SDK Core team, the decision is to call Poll when re-constructing the operation to complete the init instead of serializing all the information from the operation in the resumeToken.

[2021-03-31 19:56] #1882 closed

[2021-03-31 23:35] #1934 closed

[2021-03-31 23:47] ysriram-adobe opened #2016 "[Datalake][HowTo] - Increase upload chunk size when calling Append method"
**Query/Question**
How to increase the upload chunk size when calling `datalake_file_client::Append` method. It is currently defaulted to `1024*64 bytes` here `https://github.com/Azure/azure-sdk-for-cpp/blob/0665efe0fea59e201e3b0bac040ef7da978a5e35/sdk/core/azure-core/src/http/curl/curl.cpp#L413` .

***Why is this not a Bug or a feature Request?***
Maybe the the request option need to be exposed ?

[2021-03-31 23:53] #1997 closed

[2021-04-01 00:16] ahsonkhan opened #2018 "Do not require setting the `AZURE_KEYVAULT_HSM_URL` environment variable, for running KeyVault tests locally that don't need it"
cc @vhvb1989

[2021-04-01 00:50] #1954 closed

[2021-04-01 08:37] ahsonkhan commented on #2013
Was this fixed by https://github.com/Azure/azure-sdk-for-cpp/pull/2012?

[2021-04-01 16:42] #2013 closed

[2021-04-01 17:01] vhvb1989 opened #2020 "[Identity] Add Readme for Identity like the other langs"
Please add Readme for Identity with description for what's supported and available on C++, just like the one from .Net: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/README.md

The current Readme is too general: https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/identity/azure-identity

[2021-04-01 17:03] antkmsft commented on #2020
Duplicate of #1950?

[2021-04-01 17:09] vhvb1989 commented on #1865
After @ahsonkhan  refactor / simplification for Response<T> #1954  this is no longer required. Closing.

[2021-04-01 17:09] #1865 closed

[2021-04-01 18:36] antkmsft opened #2022 "Remove SecondaryHostReplicaStatusKey from public header?"
I don't think the Storage client library needs a key at all. We have a key in the retry policy and we have a static function which the storage policy can call to get the retry count. This internally uses a context key but Storage doesn't need to do anything in regards to this at all; just call the function that returns the retry count.

_Originally posted by @JeffreyRichter in https://github.com/A

[2021-04-01 19:01] #2020 closed

[2021-04-01 19:11] vhvb1989 commented on #2022
Adding @Jinming-Hu  to update the storage code

[2021-04-01 20:33] RickWinter opened #2024 "Azure::Core Improvements for C++ (January-June 2021)"

[2021-04-01 21:57] ahsonkhan commented on #2016
@ysriram-adobe I am curious to learn more about your scenario. What are you trying to do exactly?
Also, why do you want to increase the upload chunk size, and what value would you want to set it to?

[2021-04-01 22:13] antkmsft opened #2027 "Add tests for default policies constructed by ClientOptions not interfering with each other"
I am thinking we must have tests where we use all the default policies so we know how they work together.
Right now, we are testing policies individually, which is fine, but we won't catch issues of one policy corrupting or changing another policy's data.

_Originally posted by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/pull/2009#discussion_r605314094_

[2021-04-01 22:21] vhvb1989 commented on #1850
This is already done

[2021-04-01 22:21] #1850 closed

[2021-04-01 22:23] vhvb1989 commented on #2027
Won't make it for April. Let's not add issues to the current milestone if there is only a few days left for code-complete.
Moving to backlog

[2021-04-01 22:55] vhvb1989 commented on #1692
After looking at other languages, the folder is not used or expected as part of the path.
Only the namespace makes reference to it but we don't use a folder:
Net
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Keys
Js
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault-keys/src
Python
https://github.com/Azure/azure-sdk-for-python/

[2021-04-01 22:55] #1692 closed

[2021-04-01 23:19] antkmsft opened #2030 "Classes and structs: add final"
I think we should.

_Originally posted by @antkmsft in https://github.com/Azure/azure-sdk-for-cpp/pull/1988#discussion_r605995855_

[2021-04-01 23:26] danieljurek opened #2031 "Periodically clean up template releases and tags"
Template packages clutter the release pages. This is normally not an issue when releasing to a package manager like nuget. The C++ SDK needs cleaner release pages because the GitHub releases are an important distribution mechanism for these releases.

[2021-04-01 23:27] danieljurek commented on #1949
This is fixed here: https://github.com/Azure/azure-sdk-for-cpp/pull/1936/files .. The PR is opened as a draft. It's also closed immediately after opening (one can re-open if vcpkg CI is needed) today https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/pipelines/templates/stages/archetype-cpp-release.yml#L191

I've opened https://github.com/Azure/azure-sdk-for-cpp/issues/2031 to track adding

[2021-04-01 23:27] #1949 closed

[2021-04-02 00:32] #1585 closed

[2021-04-02 00:35] ysriram-adobe commented on #2016
@ahsonkhan - Trying a POC involving apache-arrow that requires us to be able to process files in Azure/DL . When writing parquet blocks to ADL via arrow/parquet writer I would like to increase (or experiment with different payload sizes) the upload chunk size assuming that it will reduce over job latency.

Is it even possible to increase it to 64Mb ? According to you what is the optimal sizing ?

[2021-04-02 00:56] ahsonkhan commented on #2031
Yes, please! :)

[2021-04-02 01:47] antkmsft commented on #829
Given there are no compilation failures, #2023 will close this issue.

[2021-04-02 02:13] Jinming-Hu commented on #2016
This is a question to transport layer. @vhvb1989 @ahsonkhan

[2021-04-02 02:42] Jinming-Hu opened #2032 "Feature Request: make Context::CancelWhen() public and maybe also rename it"

[2021-04-02 03:10] antkmsft commented on #2032
@RickWinter, if we want this, let's do it before the release.

[2021-04-02 04:37] vhvb1989 commented on #2016
@ysriram-adobe we can increase the upload chunk size for uploading, but, at least for HTTPS, in the case of libcurl + openssl, the data will be encrypted in 64k chunks for transferring in the secure channel, so you might not notice a difference (unless we use HTTP).

I recently removed the support for the current transport adapters (libcurl and winhttp) to allow setting up the upload chunk size. M

[2021-04-02 06:02] #1684 closed

[2021-04-02 12:37] Jinming-Hu commented on #2022
@JeffreyRichter Sorry I didn't get it. This key is not for retry count, it's for logging whether the resource(blob) exists on secondary tenant so that we can decide whether or not to switch between primary and secondary host on retry.

We can move this key to .cpp file so that it's not accessible to anybody else. But I don't think I can remove it.

[2021-04-02 13:33] Jinming-Hu commented on #2007
@vhvb1989 Need clarification here. How exactly is the operation re-constructed?

[2021-04-02 14:32] JeffreyRichter commented on #2022
Sorry then, I misunderstood its purpose; maybe a better name would be good here.
In this case keep it.
But, if the blob is not in the secondary, maybe it makes sense to try again on a later retry because it might show up soon? And, in this case, you wouldn't need this key.

[2021-04-02 15:48] JeffreyRichter commented on #2007
Customer calls StartCopyBlob which calls REST Copy Blob and gets back x-ms-copy-id: <id> and x-ms-copy-status: <success | pending>. StartCopyBlob returns Operation<T>-derived type with Status set to success or pending and has a resume token of <id>. You also need to store a reference to the BlobClient in the Operation<T>-derived type.

Customer calls Poll which calls blobClient.GetProperties and c

[2021-04-02 15:56] JeffreyRichter commented on #2016
Let's let @ysriram-adobe experiment first and IF the experiments yield valuable results, then we can decide how to best expose this. Right now, the 64KB is a process-wide setting (that is not settable). My default stance would be to keep this a process-wide setting: maybe we just define this as a constant in the Curl transport adapter source code to make it easy for some customers to change it whe

[2021-04-02 16:03] ysriram-adobe commented on #2016
@JeffreyRichter - agree with you, will change the setting in sdk/curl src and experiment. Will let channel know if there is actually any impact. Thank you.

[2021-04-02 16:03] #2016 closed

[2021-04-05 07:48] antkmsft commented on #917
@vhvb1989, we are now on the latest release, 2020.11: https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/vcpkg-commit.txt + https://github.com/microsoft/vcpkg/releases

[2021-04-05 17:50] vhvb1989 commented on #917
@antkmsft yes, that's correct, but we are still using the build cache from Azure-DevOps: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=822762&view=logs&j=0fa9045b-9773-5caa-2289-e9e87f13f3cb&t=880ba5cd-f074-5f56-2cef-dc78056bb3a5

The Azure devops caches uses 4 strings to build a key for the cache:
   Resolving key:
     - Validate Linux_x64_gcc8   [string]
     - "tags/2020.11"

[2021-04-05 18:19] ahsonkhan commented on #1277
This issue is not yet actionable. Also, this shouldn't be considered as blocking-release.

[2021-04-05 18:20] antkmsft commented on #917
@danieljurek, my understanding is that we are either where we want to be already, then please close this issue. Otherwise, please either fix it, or let us know how we can get it fixed (and if we should).

[2021-04-05 18:22] ahsonkhan commented on #1084
For reference, this is the doc work that we can incorporate into master:
https://github.com/ahsonkhan/azure-sdk-for-cpp/tree/AddReadMeDetails#using-the-sdk-within-your-application

[2021-04-05 18:26] #1815 closed

[2021-04-05 18:55] ahsonkhan opened #2036 "Remove Context::HasKey as there is no real scenario for it yet."
Instead add:
[code]

We can add the following convenience method in the future, if needed:
[code]

[2021-04-05 19:11] #1973 closed

[2021-04-05 19:13] ahsonkhan commented on #917
This the binary caching feature in vcpkg: https://vcpkg.readthedocs.io/en/stable/users/binarycaching/

It isn't required for GA.

[2021-04-05 21:16] ahsonkhan opened #2038 "Consider cancelling the context set the deadline value to `now` rather than `min`"
https://github.com/Azure/azure-sdk-for-cpp/pull/2033#discussion_r607295853

cc @antkmsft

[2021-04-05 21:23] antkmsft commented on #2038
We can store `system_clock::now()` as cancelation but then the context state should have `bool m_isCanceled`. Currently, all that `Cancel()` does is it sets the deadline to `DateTime::min()`. What I don't want to happen is the context getting resurrected once system clock gets adjusted.

[2021-04-05 21:24] #1880 closed

[2021-04-05 21:24] #2032 closed

[2021-04-05 21:25] antkmsft commented on #2038
If we want this, it is better to get this before the GA. It is not very likely, but users may have an expectation that canceled context's `GetDeadline()`  == `DateTime::min()`.

[2021-04-05 21:35] ahsonkhan commented on #2038
I would hope not since that means they are relying on some underlying, undocumented behavior, that we should be allowed to break.

Is that documented anywhere?

Regardless, I agree  :)

[2021-04-05 21:36] ahsonkhan commented on #2038
Why do we need the bool in the state?

I agree that could be concerning. How would that happen?

[2021-04-05 21:41] antkmsft commented on #2038
So that context does not considered non-canceled after being canceled, after system clock gets adjusted. See below

[code]

[2021-04-05 21:51] antkmsft commented on #2038
Luckily, it is not documented. Only `max()` is:
[code]

I agree with you, but even if relation between `Cancel()` and `GetDeadline()` is not documented, it is still possible users would have expectations build around that. I amso agree it if we are doing this, it is better to do it before the GA.

[2021-04-05 21:51] ahsonkhan opened #2039 "Consider marking Context::IsCancelled as `noexcept`."
https://github.com/Azure/azure-sdk-for-cpp/blob/c5ddbbc430790fb8718dab7df792633c63f33d19/sdk/core/azure-core/inc/azure/core/context.hpp#L221

- Adding `noexcept` in the future is non-breaking, removing it is breaking though.
- Adding `const` is non-breaking, removing it is breaking.

cc @RickWinter

[2021-04-05 21:55] antkmsft commented on #829
We do rely on VcPkg, and VcPkg's minimum requirements https://github.com/microsoft/vcpkg#quick-start-unix :
[code]

[2021-04-05 21:58] ahsonkhan opened #2040 "Remove `GetUrlWithoutQuery()` and update the log policy call-site to use the individual URL component getters."
https://github.com/Azure/azure-sdk-for-cpp/blob/c5ddbbc430790fb8718dab7df792633c63f33d19/sdk/core/azure-core/inc/azure/core/url.hpp#L225-L229

cc @vhvb1989

[2021-04-05 22:13] ahsonkhan opened #2041 "Consider removing `Url::AppendQueryParameters` and update storage connection string parsing logic."
This method is too bespoke and has custom logic that isn't commonly useful in a `Url` class:
https://github.com/Azure/azure-sdk-for-cpp/blob/9c7d4c61e48dc4b76da937c194840dc90b172894/sdk/core/azure-core/inc/azure/core/url.hpp#L186-L192

Currently, this API only has one usage scenario, which is in parsing the connection string, which is storage specific:
https://github.com/Azure/azure-sdk-for-cpp/bl

[2021-04-05 22:59] ahsonkhan opened #2044 "Rename the downloadViaStream parameter in `Request`"
Rename the `downloadViaStream` parameter (see recording of api review for new name). Renaming parameters is a non-breaking change though.

https://github.com/Azure/azure-sdk-for-cpp/blob/63b2d21bc65a4348cad5fd69cecbe353f74b7120/sdk/core/azure-core/inc/azure/core/http/http.hpp#L159-L177

cc @vhvb1989

[2021-04-05 23:02] ahsonkhan opened #2045 "Remove Request::GetHeadersAsString()"
Remove `GetHeadersAsString()`. It is only used by the transport adapters.

https://github.com/Azure/azure-sdk-for-cpp/blob/63b2d21bc65a4348cad5fd69cecbe353f74b7120/sdk/core/azure-core/inc/azure/core/http/http.hpp#L245-L248

cc @vhvb1989

[2021-04-05 23:10] ahsonkhan commented on #1607
Failed again on win86 - in https://dev.azure.com/azure-sdk/public/_build/results?buildId=825889&view=logs&j=5f43df56-f144-584b-8cac-2916b6897a0a&t=a1fb0146-149e-52cd-2e15-1c1574bb10c5
[code]

[2021-04-05 23:14] ahsonkhan commented on #2038
@JeffreyRichter should `GetDeadLine()` throw or even abort if the context doesn't have a deadline, rather than returning a potentially incorrect sentinel `Azure::DateTime::max()`?

[2021-04-05 23:58] JeffreyRichter commented on #2038
There is always a deadline.

- Jeffrey Richter (see Architecting Distributed Cloud Apps<https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Faka.ms%2FRichterCloudApps&data=04%7C01%7C%7Cdc05b9290f9f445693ec08d8e1b30ed8%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637507506469305857%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=TeB

[2021-04-06 01:59] ahsonkhan opened #2049 "Add `GetHttpBodyType()` on the RawResponse class."
Add a method `GetHttpBodyType()` which returns an enum so the user knows where the HTTP response body is coming from.
enum `HttpBodyType`
- None
- InBuffer
- InStream

This will help the caller know which API to use:
https://github.com/Azure/azure-sdk-for-cpp/blob/93bc8c42185e781f3e40fb10aa77bde92ac317a2/sdk/core/azure-core/inc/azure/core/http/raw_response.hpp#L128-L140

[2021-04-06 02:02] ahsonkhan commented on #2041
This connection parser is doing a lot of repetitive work, by first creating the map an d then parsing it repeatedly using `AppendQueryParameters`. This can be simplified and remove the call-sites.

cc @Jinming-Hu

[2021-04-06 02:08] Jinming-Hu commented on #2041
@ahsonkhan Sure, I'll remove all usages of this API first, then you can remove the API.

[2021-04-06 02:10] #271 closed

[2021-04-06 02:10] #1570 closed

[2021-04-06 02:10] #1596 closed

[2021-04-06 02:28] ahsonkhan commented on #2040
@antkmsft - can you remove the usage of `GetUrlWithoutQuery` within log policy?
https://github.com/Azure/azure-sdk-for-cpp/blob/3b36c9091a6088281ca7fb17faa5335b1b04ffa3/sdk/core/azure-core/src/http/log_policy.cpp#L44-L46

[2021-04-06 02:34] Jinming-Hu commented on #2041
done in https://github.com/Azure/azure-sdk-for-cpp/pull/2050

[2021-04-06 02:43] Jinming-Hu commented on #2022
Okay, it's in internal namespace, so we can change the name anytime.

That wouldn't be aligned with other SDK.

[2021-04-06 02:43] #2022 closed

[2021-04-06 02:48] ahsonkhan opened #2051 "Add test cases for the use of HttpMethod as extensible enum (using it with non-standard-pre-defined-strings)"
One valid test case is the use of `Trace` which doesn't exist as an enum value today.

From https://github.com/Azure/azure-sdk-for-cpp/pull/2048#pullrequestreview-628257664

[2021-04-06 02:52] antkmsft commented on #1368
Adding Daniel because #2025 closes this issue.

[2021-04-06 02:52] antkmsft commented on #1417
Adding Daniel because #2025 closes this issue.

[2021-04-06 03:30] Jinming-Hu commented on #2007
@JeffreyRichter I believe this will work. But no other SDK is doing like this. None of them have an overloading of `StartCopy`.

[2021-04-06 16:14] JeffreyRichter commented on #2007
You can probably get away without implementing this now (and maybe never as most customers won't need this feature for CopyBlob).
I do see that .NET has ID (which is the same as our resume token): https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Operation.cs#L22

But, I agree that they did not provide the StartCopy overload to use it.

[2021-04-06 17:25] antkmsft opened #2052 "Move version.hpp to src/package_version.hpp"
Now that `PackageVersion` is in `_detail` (#2042), we should move it out from the public headers. Ideally, to `src`. Maybe, to `internal/`, but I think it should be possible to move it to `src`. If TelemetryPolicy is implemented in header and therefore would not have access to `src` header, move TelemetryPolicy's implementation to an src file.

**At the very least, rename it to `package_version.hp

[2021-04-06 17:28] antkmsft opened #2053 "Replace PackageVersion::ToString() with `static constexpr char[]`"
See also #2052.

[2021-04-06 19:38] ahsonkhan commented on #1986
@antkmsft what's the plan for this issue? Is this a breaking change, or can it move to May?

[2021-04-06 19:39] ahsonkhan commented on #1891
With the addition of `TryGetValue` https://github.com/Azure/azure-sdk-for-cpp/pull/2037, we can defer adding this convenience method to post-GA, if there is a need.

[2021-04-06 19:41] antkmsft commented on #1986
It can be moved to May if necessary. BTW, this issue is not assigned to anyone.

[2021-04-06 19:48] ahsonkhan opened #2057 "When asserting equality of two values, instead of using `EXPECT_TRUE(x == y)` in gtest, use `EXPECT_EQ(x, y)`, to improve logging and debuggability of test failures."
https://github.com/Azure/azure-sdk-for-cpp/search?q=EXPECT_TRUE

For example:
https://github.com/Azure/azure-sdk-for-cpp/blob/63b2d21bc65a4348cad5fd69cecbe353f74b7120/sdk/core/azure-core/test/ut/nullable.cpp#L15
https://github.com/Azure/azure-sdk-for-cpp/blob/c5ddbbc430790fb8718dab7df792633c63f33d19/sdk/core/azure-core/test/ut/context.cpp#L43
https://github.com/Azure/azure-sdk-for-cpp/blob/b7de244

[2021-04-06 19:51] ahsonkhan commented on #2057
If a test fails today, we get the following:
[code]

Using `EXPECT_EQ` would get us a more meaningful output:
[code]

[2021-04-06 19:51] antkmsft commented on #2057
Recommendation: review all `EXPECT_TRUE` and `EXPECT_FALSE` - replace with `EXPECT_EQ`, `EXPECT_NE`, `EXPECT_GT`, `EXPECT_GE` etc.

[2021-04-06 19:52] ahsonkhan commented on #2057
Not necessarily all though. Some of them are expecting/asserting the bool returning condition of an operation. Those can be left as is. It is only when you are explicitly comparing two non-bool values, where you would use the alternatives you suggested.

[2021-04-06 19:53] antkmsft commented on #2057
I agree, there could be rare exceptions; But the majority of cases does need this conversion.

[2021-04-06 21:48] #1368 closed

[2021-04-06 21:48] #1417 closed

[2021-04-07 01:10] Jinming-Hu commented on #2007
Conclusion from the meeting today: we can also copy what .Net does https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.copyfromurioperation.-ctor?view=azure-dotnet#Azure_Storage_Blobs_Models_CopyFromUriOperation__ctor_System_String_Azure_Storage_Blobs_Specialized_BlobBaseClient_

[2021-04-07 01:41] ahsonkhan opened #2059 "Consider using ostringstream, it should be more performance-effective for building strings"
For example: https://github.com/Azure/azure-sdk-for-cpp/blob/308e5363adaa00ace2f06ff0f1a31747a0a28062/sdk/core/azure-core/src/http/request.cpp#L62-L76

_Originally posted by @antkmsft in https://github.com/Azure/azure-sdk-for-cpp/pull/2056#discussion_r608250965_

[2021-04-07 01:48] #2040 closed

[2021-04-07 02:05] #2045 closed

[2021-04-07 02:17] ahsonkhan commented on #1877
FWIW, .NET framework uses Pascal case for these, so `Ssl` and `Tls`

[2021-04-07 02:45] weshaggard commented on #671
Tracking the general work with Azure/azure-sdk#1694

[2021-04-07 03:01] ahsonkhan commented on #1277
The issue is blocked on https://github.com/Azure/azure-sdk-for-cpp/issues/1260

[2021-04-07 03:01] ahsonkhan commented on #1260
@danieljurek moving this to May. Let me know what you are planning for this.

[2021-04-07 03:02] #2041 closed

[2021-04-07 03:23] #2036 closed

[2021-04-07 03:56] antkmsft opened #2062 "Look into adopting "ISO C++ Core Guidelines" in our code"
https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md

Not that I agree with everything, but these guys (Bjarne Stroustrup and Herb Sutter) covered many topics for many cases, and they are consistent and the document explains a bit why they've chosen some things.

Even if we don't adopt it, it is an interesting read. Two of my favorite authors on the topic of C++ language.

[2021-04-07 05:32] vhvb1989 commented on #1975
By default, on Windows, installing an SDK service (like storage) with VCPKG will make VCPKG to install all available features for the service and its dependencies. Both libcurl and winhttp are package features, and will be installed.
Then, when generating the project with CMake, we need to use the CMake options to build the the transport adapter we want to use. If we don't explicitly add any trans

[2021-04-07 05:33] vhvb1989 commented on #1975
@Jinming-Hu if there is still more info that I can share or questions, please let me know, otherwise, please close the issue

[2021-04-07 05:35] vhvb1989 commented on #1881
Moving to May as it still need more discussion about it.

[2021-04-07 05:37] vhvb1989 commented on #1881
@CaseyCarter can you help us to understand if updating this static function to an static member would put us into the init fiasco ?

[2021-04-07 05:42] #1975 closed

[2021-04-07 06:12] Jinming-Hu opened #2065 "Feature Request: Progress Handler for upload/download functions"
We have a customer asking for this feature.

.Net has it: https://github.com/Azure/azure-sdk-for-net/blob/2645a8dd0d817c41fc9c512629a25a5ae678cc96/sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs#L1069

JS also has this feature.

[2021-04-07 06:16] Jinming-Hu commented on #2065
I'm thinking, maybe this feature is just as simple as two integers, one cosntant integer indicating the total download/upload size, one atomic integer indicating how many bytes has been transferred.

We use atomic so that reading/writing this variable is thread-safe. `std::atomic` even has [wait](https://en.cppreference.com/w/cpp/atomic/atomic/wait) and [notify](https://en.cppreference.com/w/cpp/a

[2021-04-07 06:17] Jinming-Hu commented on #2065
+ @JeffreyRichter since it's a design topic
+ @RickWinter for timeline.

[2021-04-07 06:17] Jinming-Hu commented on #2065
cc @ahsonkhan @vhvb1989 @antkmsft

[2021-04-07 06:36] vhvb1989 commented on #2065
Can we add overload for Download and Upload that returns an Operation<T> ?
The Operation would be created with a thread to perform the operation (Upload/Download) and to hold the progress counter that the operation (transportAdapter would update as it performs...).. Just an idea here :)

[2021-04-07 13:44] Jinming-Hu commented on #2065
I don't know. Overloaded functions sound like a lot of maintenance work. More importantly, it looks to me that you're starting asynchronous pattern. We've made a big decision (actually it's not made by us, it's from leadership team) like a year ago that this sdk will only provide synchronous functions.

We have the pattern that every API (except single-thread download) returns only after the opera

[2021-04-07 16:46] Jinming-Hu commented on #2065
How about we use the context?

the definition is like

[code]

it works like

[code]

in another thread, users can check the progress

[code]

[2021-04-07 17:00] Jinming-Hu commented on #2059
I doubt that. I think string stream is usually slower than string.

Anyway, do some benchmark before making the change in case of any regression.

[2021-04-07 18:06] JeffreyRichter commented on #2065
I have a design for doing progress reporting. that requires NO overloaded methods.
Can this wait until after GA? I'm trying to design the new Pageable right now and I think you want this to be higher priority.

[2021-04-07 18:25] #1877 closed

[2021-04-07 18:45] danieljurek commented on #1749
This is merged

[2021-04-07 18:45] #1749 closed

[2021-04-07 18:59] danieljurek commented on #1680
These cleanups are complete.

[2021-04-07 18:59] #1680 closed

[2021-04-07 19:35] RickWinter opened #2068 "Add address sanitization coverage"
LLVM and MSVC support address sanitization.  This helps catch use after free and use of locals out of scope bugs.

Enable support for this flag in CMake and add configurations into the pipeline testing.

https://devblogs.microsoft.com/cppblog/address-sanitizer-for-msvc-now-generally-available/

[2021-04-07 19:53] ahsonkhan commented on #2007
@tg-msft how do you recreate things in the `Operation<T>` ctor like RawResponse, etc. from the resume token? Do you send a request to the service on resume? That's what we were thinking by adding an overload to `StartCopy` that accepts the token, makes a request, and returns a fully hydrated `Operation<T>` concrete derived class.

If we don't send a service request (which we can't if the token is

[2021-04-07 20:24] tg-msft commented on #2007
Yes, `RawResponse` is null if you've never made a request.  We think most customers understand that just creating a new instance of a type means we won't have sent a request to the service yet.  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/Models/CopyFromUriOperation.cs#L90

[2021-04-07 22:17] vhvb1989 opened #2074 "[Key Vault Keys] [4.0-beta-.2] Remove KeyVaultException"

[2021-04-07 22:18] vhvb1989 opened #2075 "[Key Vault Keys] [4.0-beta-.2] Move ServiceVersion to each service"

[2021-04-07 22:18] vhvb1989 opened #2076 "[Key Vault Keys] [4.0-beta-.2] Convert ext enums from fn() to static member"

[2021-04-07 22:18] vhvb1989 opened #2077 "[Key Vault Keys] [4.0-beta-.2] Update JssonWebKeyType to KeyVaultKeyType"

[2021-04-07 22:20] ysriram-adobe opened #2078 "[Datalake] Unable to open/read file created via create/append/flush methods"
**Describe the bug**
Seeing `404 The specified blob does not exist` when trying to open/read file created via create/append/flush methods of sdk. Happens all the for files created via client using c++ SDK.

***Exception or Stack Trace***
`404 The specified blob does not exist`

**To Reproduce**
- Create/Append/Flush file in some directory
- Open or GetProperties of same file and error is produced

[2021-04-07 22:20] vhvb1989 opened #2079 "[Key Vault Keys] [4.0-beta-.2] Move SinglePage and GetSinglePageOptions to Common internal"

[2021-04-07 22:20] vhvb1989 opened #2080 "[Key Vault Keys] [4.0-beta-.2] Rename MaxResults to MaxPageResults"

[2021-04-07 22:29] ahsonkhan commented on #2078
@Jinming-Hu please take a look

@ysriram-adobe can you provide a minimal reproducible sample (sanitized to exclude any connection strings or secrets), which includes more code snippet than just the one line. It will help root cause the issue, especially if there is something else in how you created the blob in the first place.

[2021-04-07 22:33] ysriram-adobe commented on #2078
@ahsonkhan - thanks for response. Working on exactly the ask you have. Note that I'm able to open/read/download the same file via the java/sdk.

[2021-04-07 22:37] ahsonkhan commented on #2007
So does that mean that resuming an `Operation<T>` in a completed state returns one that is not completed? Why wouldn't we want to retain that state info?

Similarly, do we ignore the status of the original LRO, and leave it unset within the one that get's recreated, and then let the first call to `Poll()` set the fields to the right values?

[2021-04-07 22:54] ysriram-adobe commented on #2078
Hope this helps.
[code]

[2021-04-07 23:12] vhvb1989 opened #2083 "KeyVault::Keys Add Crypto client"

[2021-04-07 23:13] JeffreyRichter commented on #2065
Let's start with this:
•	Define ProgressReport callback lambda data type which returns void and takes an int64 bytesTransferred
•	Define ProgressBodyStream class derived from BodyStream
        o	ctor takes BodyStream innerStream (null is not allowed) and ProgressReport lambda (null is not allowed)
        o	Fields: inner BodyStream innerStream, ProgressReport progressReport and bytesTransferred =

[2021-04-08 01:59] Jinming-Hu commented on #2007
I think it's fine to leave `m_rawResponse` null for a re-created operation.

[2021-04-08 02:14] Jinming-Hu commented on #2065
I believe you design can work very well for single-thread operations (operation with `BodyStream` as input or output). I'd love to know how it works for concurrent operations before we start writing code.

[2021-04-08 02:30] Jinming-Hu commented on #2078
Hi @ysriram-adobe , can you try the latest beta9 release? Your code snippet works for me with beta 9 release.

[2021-04-08 03:39] JeffreyRichter commented on #2065
Well, OK; here's the design I fleshed out for parallel operations:

For parallel upload/download:
•	Add a ProgressReport field to UploadToBlockBlobOptions
•	If dataSize <= BlockBlobMaxUploadBlobBytes
o	Before calling a 1:1 client function, wrap the BodyStream with a ProgressBodyStream (if ProgressReport is not null)
•	Else
o	Stack based totalBytesTransfered = 0 (int64-not atomic) & progressLock mu

[2021-04-08 04:08] ahsonkhan commented on #2078
@Jinming-Hu could you reproduce the issue with beta.8? If so, do you know what change ended up fixing it?

[2021-04-08 04:25] Jinming-Hu commented on #2065
@JeffreyRichter If we are to use callback in API options, why not also do the same for single-thread functions? This way, we will have uniform API interface.

I have some concern about this callback method. Our customers can define their the callback function. It's not a problem if they just do something very simple in this function.
But they are also capable of doing something more complex in thi

[2021-04-08 04:44] JeffreyRichter commented on #2065
The API is already not uniform. Put block takes a stream while upload from file takes a path. But, even if you take the callback, you still have to know when to call it and the ProgressBodyStream enables this. Furthermore, the decorator pattern is very powerful. For put block, it takes a linked list of BodyStream objects which the user constructs so they can create a file stream, then a progress s

[2021-04-08 05:55] Jinming-Hu commented on #2065
On a second thought, I don't think adding callback in options is a good idea at all. Because options are sent to server side while callback is not. This is the motivation of moving context out of options two months ago. (Refer to the email titled _One more try to have Context be a formal method parameter_ you sent on Feb. 7 2021)

[2021-04-08 17:33] vhvb1989 opened #2085 "Update VCPKG Control file to manifest"
See: https://github.com/microsoft/vcpkg/pull/17143

[2021-04-08 17:37] vhvb1989 commented on #2085
@antkmsft  @RickWinter  The VCPKG team is asking us to use manifest instead of CONTROL file.  It would be better to update all ports together instead of only updating the new ones.
@danieljurek mostly we will need to update the release scripts for using manifest file

[2021-04-08 21:16] ysriram-adobe commented on #2078
@Jinming-Hu - Thank you for taking look at it. The beta.9 release worked. I would be interested in knowing if it was reproduced in beta.9 .

@ahsonkhan Thank you for follow-up.

[2021-04-08 22:02] vhvb1989 opened #2086 "Add version to Perf package"
Add the version headers to the perf package just like all other packages

[2021-04-08 22:55] #1499 closed

[2021-04-09 00:26] ahsonkhan commented on #2086
I don't quiet understand the use case and why we want to treat the perf framework as a package with its own version. I'll reach out offline to understand why we need to do this.

@vhvb1989 since the issue is marked `help wanted`, can you add a link to the existing version headers in your issue description to show an example of what type of fix you are looking for.

[2021-04-09 00:29] ahsonkhan commented on #2085
Either we need to get an exception for keyvault from the vcpkg team, or we need to make this change sooner rather than later. Moving it to May milestone rather than backlog since it is required to ship.

[2021-04-09 00:39] antkmsft commented on #2085
To clarify, this is not required, they just recommend it. We still should do it.

[2021-04-09 02:08] Jinming-Hu commented on #2078
@ysriram-adobe  still works for me with beta.8 release.

[2021-04-09 03:08] ysriram-adobe commented on #2078
🤷 closing ticket.

[2021-04-09 03:08] #2078 closed

[2021-04-09 07:21] vhvb1989 opened #2091 "Operation<T> should take a context const& but it takes context& - possible breaking change"
Poll and PollUntilDone takes a ref context instead of a const reference.
These methods don't need to take the context as a mutable reference because no changes are expected to the context.  Also, the current signature is preventing an SDK client operation to use a const reference to invoke Poll(context).

We can add overloads with const& to avoid a breaking change, but keeping the mutable referenc

[2021-04-09 07:24] vhvb1989 commented on #2091
@RickWinter please review and comment how should we fix this:
- Adding overloads with const& context
- Updating the current signatures `breaking change`

[2021-04-09 09:42] Jinming-Hu commented on #2030
If we can follow [Declaration Order](https://google.github.io/styleguide/cppguide.html#Declaration_Order) of members from Google C++ Style Guide, explicit private won't be a problem anymore.

[2021-04-09 10:07] Jinming-Hu commented on #2039
This is not that simple. I remember once I got a compiler warning for not adding `noexcept`. But when I added it, I got build error on Visual Studio. It worked fine on GCC or clang. I suspect it was a bug of VC compiler.

We should do thorough test after adding `noexcept` keywords.

[2021-04-09 12:22] antkmsft commented on #1689
@ahsonkhan I installed SDK like this on Windows:
[code]

Like this on Linux:
[code]

I then made this project - CMakeLists.txt:
[code]

main.cpp file:
[code]

Output on Windows:
[code]

Output on Linux (not really able to test for "WinHttpTransport", because it fails to compile if you include win_http_transport.hpp):
[code]

I.e. the main thing it illustrates is that you install vcpkgs using defau

[2021-04-09 13:45] johnwheffner commented on #1716
I tried out this change and unfortunately it doesn't solve the problem.  When the remote server closes the connection, it puts the client connection into a `CLOSE_WAIT` state, in which writes to the socket are still allowed.  So sending the request will not return `CURLE_SEND_ERROR` immediately, and the error will only be surfaced later while trying to read the response.

You can see this in the u

[2021-04-09 17:03] danieljurek opened #2094 "Integration stage not run in scheduled builds"
See exclusion here: https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/pipelines/templates/stages/archetype-sdk-client.yml#L57

[2021-04-09 19:01] antkmsft commented on #1689
The feature set you get installed is
[code]

i.e. it does install Curl, which is expected. But the default transport is WinHttp, that is the desired behavior, and that is what you get when building our SDK outside of VcPkg.

[2021-04-09 19:28] antkmsft commented on #1689
What if you `vcpkg install azure-storage-blobs-cpp`, and it installs both winhttp and curl, but `vcpkg install azure-core-cpp[winhttp] azure-storage-blobs-cpp` - would only winhttp - would that solve the issue? This is not how it is today, but I think that is the direction we should take this fix.
We of course can duplicate features into all packages, but I don't think we should do it. I.e. [winht

[2021-04-09 20:23] ahsonkhan commented on #2091
From the API review discussion: Adding `const` is non-breaking, removing it is breaking.

So, if we know that it needs to be marked as const, we can do so without worrying about adding overloads.

[2021-04-09 20:50] johnwheffner opened #2097 "Curl connections to the wrong port may be used from the pool"
When issuing requests against multiple instances of Azurite running locally on different ports, requests sometimes go to the wrong server.  This is because the curl connection pool is keyed on hostname (plus SSL config) but not port.

[2021-04-10 08:38] Jinming-Hu opened #2100 "Change the title of vcpkg PR created by CI"
https://github.com/microsoft/vcpkg/pull/17142#issuecomment-815566333

[2021-04-10 08:39] Jinming-Hu commented on #2100
Also, is it possible to create the PR as draft?

[2021-04-12 17:18] ahsonkhan commented on #2100
It is possible, but why would we want to do that?

[2021-04-12 17:20] RickWinter commented on #1571
Closing as the API was restructured in the April release.  If there are any specific new features please open individual issues for each.

[2021-04-12 17:20] #1571 closed

[2021-04-12 17:22] ahsonkhan commented on #2100
The PR title is defined by the person triggering the release pipeline by setting the `VcpkgPRTitle` build variable.

We can set the "correct" name at that time. I am not sure what the best default fallback value should be when that variable isn't set. It is currently: `<Port Name> publish version <Version>`
https://github.com/Azure/azure-sdk-for-cpp/blob/5a99f38df17c8961b01bc6c79af194ed44a52840/en

[2021-04-12 17:28] ahsonkhan commented on #2097
@vhvb1989 we should use more parts of the endpoint Url to generate the key that we know are unique and remain stable. I don't know but that might even include the path, not just the port. @johnwheffner what do you think?

Probably the only thing that shouldn't be used is query parameters.

https://github.com/Azure/azure-sdk-for-cpp/blob/5de76e7a2168259bccd0a6c1f61b7aca802dbf2e/sdk/core/azure-core/

[2021-04-12 17:43] vhvb1989 commented on #2097
@ahsonkhan using the path would disable connection re-use to the same server and leave it as `only if it is the same request`.
I will add the port. Makes sense

[2021-04-12 17:46] johnwheffner commented on #2097
:+1:

[2021-04-12 20:08] salsal97 opened #2103 "Make libxml2 -> libxml2-dev in the documentation"
**Describe the bug**
The documentation everywhere in the repo describes a dependency on libxml2, but it really seems to depend on the specific package libdml2-dev

***Exception or Stack Trace***
[code]

**To Reproduce**
Run `cmake build -DCMAKE_BUILD_TYPE=Debug` in your root directory

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise descrip

[2021-04-12 21:47] bhardwajs commented on #1689
Seems this can be changed by changing the `CONTROL` in `azure-storage-common-cpp` to 'azure-core-cpp[http]` and changing the CONTROL in azure-core-cpp to `azure-core-cpp[core, winhttp] (windows&!uwp)`?

[2021-04-13 00:38] ahsonkhan opened #2107 "The vcpkg portfile.cmake should be updated to avoid using deprecated functions"
For example, update usages of `vcpkg_configure_cmake`this for all the portfiles:
https://github.com/Azure/azure-sdk-for-cpp/blob/cf071db26a16180d3ba091b62212349c877554b5/sdk/core/azure-core/vcpkg/portfile.cmake#L18-L24

For the deprecated function, can you update it as the new function `vcpkg_cmake_configure()` automatically?
Please see the reference here https://github.com/microsoft/vcpkg/blob/ma

[2021-04-13 01:49] Jinming-Hu commented on #2103
`libxml2-dev` is on debian (ubuntu). Packages have different name pattern on different platforms, like on RedHat, it's called `libxml2-devel`.

[2021-04-13 16:24] amishra-dev commented on #1993
Thanks for reaching out Johannes, we have added this to our backlog.

[2021-04-13 20:31] RickWinter opened #2111 "Azure::Core May release"

[2021-04-13 20:33] RickWinter opened #2112 "KeyVault::Keys May Release"

[2021-04-13 20:36] RickWinter opened #2113 "Adoption infrastructure"
Add build adoption support.

[2021-04-13 22:05] ahsonkhan opened #2114 "Add Context::WithTimeout as a helper around WithDeadline"
Similar to https://golang.org/pkg/context/#example_WithTimeout
https://github.com/golang/go/blob/9913f821e23e9e26b84ce2b96698140116ee342b/src/context/context.go#L506-L508

This would be a convenience over the WithDeadline API:
https://github.com/Azure/azure-sdk-for-cpp/blob/c297b63b9b6e80a54e9429e85152805a6ecf7b64/sdk/core/azure-core/inc/azure/core/context.hpp#L124-L134

From @JeffreyRichter

[2021-04-14 01:03] vhvb1989 opened #2115 "Uuid is not unique on Linux"
Tests have failed on linux:
https://dev.azure.com/azure-sdk/public/_build/results?buildId=841074&view=logs&jobId=fda9a6e2-14f0-5864-d894-5f56622f20fa&j=fda9a6e2-14f0-5864-d894-5f56622f20fa&t=4d31d3ea-4e03-5255-0249-577ed0f8d090

https://dev.azure.com/azure-sdk/public/_build/results?buildId=834364&view=logs&jobId=fda9a6e2-14f0-5864-d894-5f56622f20fa&j=fda9a6e2-14f0-5864-d894-5f56622f20fa&t=4d31d3ea

[2021-04-14 13:23] ahsonkhan commented on #2115
We should investigate this further for the May milestone. @RickWinter - labelling it higher priority to help with the triaging.

[2021-04-14 15:00] Jinming-Hu opened #2118 "Move Pageable base class to core sdk"
and add docs

[2021-04-14 18:41] #1904 closed

[2021-04-14 22:39] yxiang92128 opened #2121 "Does any of the DownloadTo API return HTTP response code?"
**Query/Question**
Not sure how to access the HTTP response code for any of the DowloadTo or UploadFrom calls if an exception is caught. If no exception, I can assume it's 200.

***Why is this not a Bug or a feature Request?***
Only a novice question, not a bug.

**Setup (please complete the following information if applicable):**
 - OS: SLES12SP3
 - IDE : [e.g. IntelliJ]
 - Version of the Library

[2021-04-14 22:40] #2121 closed

[2021-04-15 00:11] vhvb1989 commented on #2007
KeyVault updated: https://github.com/Azure/azure-sdk-for-cpp/pull/2093

[2021-04-15 14:28] Jinming-Hu opened #2124 "Add sample for List operations"

[2021-04-15 18:53] #2075 closed

[2021-04-15 18:53] #2076 closed

[2021-04-15 18:53] #2077 closed

[2021-04-15 18:53] #2079 closed

[2021-04-15 18:53] #2080 closed

[2021-04-15 18:53] #2074 closed

[2021-04-15 20:02] ahsonkhan commented on #1201
1) Increase the default read buffer size from 64KB to 256KB+ (up to 1 MB).
2) Reuse the same session handle across multiple requests - https://github.com/Azure/azure-sdk-for-cpp/issues/1098
3) Call WHRD with large buffers rather than WHQDA.
4) Investigate the perf benefits of using TCP Fast Open.

[2021-04-15 21:14] ahsonkhan opened #2126 "As a client library author releasing a first beta of a particular package, there needs to be a validation process and explicit approval of the package name chosen before releasing for the first time"
Similar to how the other primary languages have GA-gate on an explicit API review approval and to guard against breaking changes, any time a service is shipping its first beta package (for example, we are about to ship `azure-security-keyvault-common-cpp` and `azure-security-keyvault-keys-cpp`), there needs to be an explicit review and approval gate prior to a release to ensure the name is one we

[2021-04-16 05:33] Jinming-Hu opened #2127 "Resume mechanism for copy operations"

[2021-04-16 05:34] Jinming-Hu opened #2128 "SetAccessControlListRecursive and ForceCloseAllHandles"

[2021-04-16 06:48] Jinming-Hu commented on #2118
Core sdk team should decide what to do if `MoveToNextPage` is called with `HasNextPage` being `false`.

[2021-04-16 07:50] ahsonkhan commented on #2127
Is this related to, or duplicate of, https://github.com/Azure/azure-sdk-for-cpp/issues/2007?

[2021-04-16 09:21] #2127 closed

[2021-04-16 20:09] ahsonkhan commented on #2118
@vhvb1989 please copy the `PagedResponse<T>` type into keyvault and try it out in some of its pageable APIs to validate the type works for your scenarios.

We'd want to do that before finalizing the design and moving it down to core.

https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/storage/azure-storage-common/inc/azure/storage/common/paged_response.hpp#L14-L20

[2021-04-16 22:12] ahsonkhan commented on #2115
Failed again here, from an unrelated PR: https://github.com/Azure/azure-sdk-for-cpp/pull/2132
https://dev.azure.com/azure-sdk/public/_build/results?buildId=848076&view=logs&j=fda9a6e2-14f0-5864-d894-5f56622f20fa&t=1c480a24-f5ee-59f2-3e43-433898827192

[2021-04-16 23:11] #2097 closed

[2021-04-17 00:24] ahsonkhan commented on #2118
We also need to add targeted unit tests for `PagedResponse<T>`.

[2021-04-18 04:36] #1717 closed

[2021-04-19 17:40] RickWinter commented on #2107
@ahsonkhan @antkmsft Is this an issue after moving to manifests?  If so fix, otherwise it can be closed as part of the manifest migration work.

[2021-04-19 17:42] RickWinter commented on #2053
As part of this get rid of the package_version.cpp file.

[2021-04-19 17:47] RickWinter commented on #616
@antkmsft , Mike Harder has a framework that allows validating the system with partial, incomplete, invalid responses.  We need to automate using that system and run it against both WinHttp and Curl.

[2021-04-19 18:18] ahsonkhan commented on #2107
Yes, it still is. The manifest json file is migrating from CONTROL to json which is unrelated to this.

This issue is about the portfile.cmake which is a different vcpkg package definition component.

[2021-04-19 20:50] ahsonkhan commented on #2107
Here's a reference to the vcpkg PR checklist:
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/pr-review-checklist.md#c000001

[2021-04-19 22:25] danieljurek opened #2136 "vcpkg release changes"
Vcpkg has new requirements for releasing. Discovered requirements:

* [x] Change CONTROL to vcpkg.json format (done and merged to `master` by C++ team, thanks!)
* [x] Fix nightly branch sync in EngSys utilities (only runs when there's a change to the tools repo)
* [x] Pass CI validation (add items as discovered during PR process)
  * [x] Line endings

[2021-04-20 18:57] RickWinter opened #2141 "Azure::Identity Token refresh pattern"
Add support for refreshing tokens so that credentials can be used across clients

[2021-04-20 22:05] maggiepint opened #2143 "Planning and Roadmap Feedback - Second Half 2021"
Hello Azure SDK community!

The Azure SDK team is beginning our next planning cycle as part of Azure's twice a year planning process. As a part of this effort, we want to hear from you about what new features and services you are most interested in having as part of the New SDK. In general, we can separate requests into two categories:

1. Feature requests for various aspects of the SDK
2. Request

[2021-04-21 18:30] RickWinter commented on #1993
@vinjiang @kyle-patterson This is required to close the gap between SDKs.

[2021-04-21 18:58] RickWinter opened #2146 "How to create the Operation"
Need to close on using overload method.

Alternative: Use a constructor

[2021-04-21 19:17] ahsonkhan commented on #2146
One factor to consider when weighing the alternatives is how common the resume scenario is in comparison to the number of most important service client APIs:
https://github.com/Azure/azure-sdk-for-cpp/pull/2093#issuecomment-818332589

For example, if `KeyClient` only has a few key operations (createkey, getkey, deletekey, backup, update), then adding 2 more methods to support the less frequently u

[2021-04-21 20:47] RickWinter commented on #2030
@CaseyCarter Is there a general design pattern we should add to guidelines surrounding the use of final?

[2021-04-21 22:19] vhvb1989 commented on #1671
@bhardwajs about:

Azure Core provides an `interal` API layer that is used by the Azure Service clients like Storage, KeyVault, etc.  We don't want each service to bring it's own json impl or duplicate.  Azure Core exposes a copy of nlohmann API wrapped under an Azure::Core::_interal::Json namespace.

Customers don't need to install nlohmann lib, the SDK contains a copy to not depend on it.
And cu

[2021-04-21 22:21] vhvb1989 commented on #1671
@ahsonkhan , if not closing, can we move this backlog?  We have been pushing this issue since Feb milestone to the actual (May). If we ever agree to create the json-replace-abstractio similar to the transport-adapter, it can be after GA right?

[2021-04-21 22:24] vhvb1989 commented on #1599
ping @CaseyCarter

[2021-04-21 22:38] vhvb1989 commented on #1597
@RickWinter  please provide more info about where is the repo to be updated or who to contact for working on this issue.
I can try to fix it for May.
Otherwise, move this issue to backlog

[2021-04-22 01:35] mitchdenny opened #2148 "Announcement: Renaming "master" to "main" in this repository"
On the 18th of June, 2021 (PST) (**updated**)) we will be renaming the ```master``` branch in this repository to ```main```. When this occurs there will be some disruption to the engineering system as we address any issues that earlier preparations did not address. Please read the following centralized issue for more background on what to expect:

Localized issues in this repository can be discuss

[2021-04-22 10:27] antkmsft commented on #2085
Was done in https://github.com/Azure/azure-sdk-for-cpp/pull/2132

[2021-04-22 10:27] #2085 closed

[2021-04-22 12:03] antkmsft commented on #1689
After #2149 goes in:
By default, if you `vcpkg install azure-storage-blobs-cpp`, you get both Curl and WinHTTP transport implementations (all available on the platform) for Windows (WinHTTP is used by default and not Curl, but Curl is also available).
On Linux and Mac, you only get Curl implementation (expected).
However, if you want only WinHTTP to be installed, you should install as `vcpkg insta

[2021-04-22 16:41] CaseyCarter commented on #2030
To me, `final` is a micro-optimization for classes with `virtual` functions. For example, this program fragment (https://godbolt.org/z/ev3Mnea7x):

[code]
the fact that `Derived` is `final` tells the compiler that the argument to `f` must be exactly `Derived` and not some other more-derived type. Consequently, it can inline the call to `meow` - avoiding virtual dispatch. Guidelines naturally lack

[2021-04-22 19:27] #1583 closed

[2021-04-22 19:27] #1689 closed

[2021-04-22 19:27] #2107 closed

[2021-04-23 19:52] ahsonkhan opened #2152 "Instead of using friend classes, add client accepting ctors to PagedResponse-derived types."
Avoid unnecessarily using friend classes or forward declarations. Instead, all PagedResponse-derived types should have the necessary public ctor to create it from a client. This ensure single responsibility, and separation of concerns, and avoids having external classes setting private fields.

For example:
https://github.com/Azure/azure-sdk-for-cpp/blob/698e9965c56c47cf16d9350956e8d752031e5fe5/sd

[2021-04-23 21:29] danieljurek commented on #2136
Example CI validation passing -- https://dev.azure.com/vcpkg/public/_build/results?buildId=52653&view=logs&s=ebebf3f8-5f0a-5b5d-e184-988a249ef493

[2021-04-24 04:04] Jinming-Hu commented on #2152
This is not what https://github.com/Azure/azure-sdk-for-cpp/pull/2116#discussion_r613322193 is about.

[2021-04-24 04:13] Jinming-Hu commented on #2152
Personally I don't want to add such a constructor for PagedResponse-derived class. Because the ctor would only be used in one place, so it doesn't save many lines of code.

In addition, the ctor will have to be public, and it would mislead our customers into thinking they could call this constructor and construct a PagedResponse by themselves (rather than by calling List functions). But this is no

[2021-04-25 03:06] Jinming-Hu commented on #1994
We need to log some storage-specific information, like what API is being called. But this kind of diagnostic information isn't considered release-blocking.

[2021-04-25 03:07] Jinming-Hu commented on #370
done

[2021-04-25 03:07] #370 closed

[2021-04-25 03:11] Jinming-Hu commented on #1992
https://github.com/Azure/azure-rest-api-specs/tree/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-02-10

[2021-04-25 07:24] dipidoo opened #2154 "std::shared_timed_mutex breaks iOS compilation"
https://github.com/Azure/azure-sdk-for-cpp/blob/308e5363adaa00ace2f06ff0f1a31747a0a28062/sdk/core/azure-core/src/logger.cpp#L16

Compiling this for iOS with `OSX_DEPLOYMENT_TARGET=9` yields the following error:

`error: 'shared_timed_mutex' is unavailable: introduced in iOS 10.0`

Using this from vcpkg, 1.0.0-beta.6 did not have this issue and seems to have been introduced by 1.0.0-beta.7.

[2021-04-26 17:38] vhvb1989 opened #2155 "Now that you have pageable all the `..SinglePage` apis should be removed. SinglePage was only necessary before Pageable was available."
Now that you have pageable all the `..SinglePage` apis should be removed.  SinglePage was only necessary before Pageable was available.

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-cpp/pull/2144#discussion_r620450386_

[2021-04-26 17:56] ahsonkhan commented on #2154
@dipidoo I am curious to learn about how you are using the C++ SDK for iOS. What functionality and features do you use and what are you building? Also, what's keeping you on iOS 9, from both directions (i.e. why not iOS 10, or why not support an even lower platform like iOS 8). Can you provide some more of these details and background to help motivate the issue because we don't yet support the iOS

[2021-04-26 18:00] antkmsft commented on #2154
Quick random thoughts, shared_timed_mutex is C++14.
It can be replaced with the regular mutex, for some perf cost. Could be build option to do that.
Also it can be implemented manually.

[2021-04-26 18:11] vhvb1989 commented on #2146
# options comparison

## client method

Can be implemented as an API overload or as a new API which uses the same name as the API that creates the operation plus a `Resume` prefix. For example, an API like:
`StartDeleteKey` , there would be a `ResumeDeleteKey`.

Then new API with the prefix is required for the next reasons:
- There might be impossible to overload the original API just with one str

[2021-04-26 18:13] vhvb1989 commented on #2146
@RickWinter  @JeffreyRichter  I have documented the different approaches.  Please let me know if you have questions about it.
Please make a decision for what we want for the SDK.

My vote goes for `client method` approach

[2021-04-26 18:17] ahsonkhan commented on #2146
To incorporate some of the usability learnings from .NET that @tg-msft shared, I prefer the operation ctor approach.

But to steel man the argument for the client method approach, @vhvb1989, the other con of the operation ctor approach is that the caller needs to explicitly call `poll` to rehydrate the operation fully. Whereas in option 1, that is done by the SDK. That might be considered both a g

[2021-04-26 18:17] #2136 closed

[2021-04-26 18:17] JeffreyRichter commented on #2146
First, I LOVE your presentation here showing the customer code - great job!
Second, I like the client method proposal better because it is more discoverable and because it follows our normal patterns; that is, customer usually start with a XxxClient and then do something with it. It feels unnatural to me to start with an Operation and pass its ctor a client; we have no other precedent for this pat

[2021-04-26 18:21] ahsonkhan commented on #2146
+1

Do we really want these resumable APIs to be discoverable though? At the same level as the other more frequently used and important client APIs? To me, resuming polling **is** different than the other set of client APIs, so having a design and coding pattern that is different is a good thing. It doesn't start a new CRUD operation to change state of the resource on the cloud.

We aren't startin

[2021-04-26 18:28] JeffreyRichter commented on #2146
Operation's ctor could call Poll internally.
If the customer wants to use the "advanced & seldom used" resume feature, they need to get a token and then the either need to call a ResumeXxx method or construct an Operation.  I could live with either proposal. If this was usability tested in some language, I'm happy to use that data to help direct us.

[2021-04-26 18:42] ahsonkhan commented on #1388
@vhvb1989 if you plan on working on this, feel free to use the samples from here as a starting point: https://github.com/ahsonkhan/azure-sdk-ux-study-answers

[2021-04-26 18:48] RickWinter commented on #2155
This needs to be done before GA.  It can happen in May release if time allows.

[2021-04-26 18:57] ahsonkhan commented on #2113
Waiting until we have decided the long term strategy for this.

[2021-04-26 19:47] danieljurek opened #2156 "Vcpkg release checklist"
@danieljurek commented on [Mon Apr 26 2021](https://github.com/Azure/azure-sdk-for-java/issues/20954)

https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/pr-review-checklist.md

Of interest are c-10, c-11, and c-12

Item | Description | Status
-- | -- | --
c-1 | No deprecated   helper functions (link) | Done
c-2 | Port-version field   is updated | Done (doing this   through vcpkg x-ad

[2021-04-26 21:09] antkmsft commented on #2156
Thank you @danieljurek! I filled in the rest of the items, everything looks good to me!

[2021-04-26 21:09] #2156 closed

[2021-04-27 02:26] Jinming-Hu commented on #1751
![image](https://user-images.githubusercontent.com/52266153/116175485-f846c600-a742-11eb-9b7a-ef4a76dbbf8d.png)
https://azuresdkdocs.blob.core.windows.net/$web/cpp/azure-core/1.0.0-beta.8/class_azure_1_1_core_1_1_http_1_1_raw_response.html

[2021-04-27 02:26] Jinming-Hu commented on #1751
This is not a problem specific to storage.

[2021-04-27 02:44] #2118 closed

[2021-04-27 04:46] Jinming-Hu commented on #1751
https://github.com/Azure/azure-sdk-for-cpp/blob/fe9002e9054b04a2375da242e49badb1f6880252/cmake-modules/AzureDoxygen.cmake#L21 Change this value to `NO` will fix the problem

[2021-04-27 15:11] JeffreyRichter commented on #2152
How about a compromise: add the ctor to the Pageable-derived class but make the ctor private. Then make the client a friend so it can call the ctor.
What's nice about this is that any fields added/modified to the pageable class will naturally require a change to the ctor which will cause compilation errors until the friends are fixed. But, the ctor is still not callable by customer code.

[2021-04-27 15:14] Jinming-Hu commented on #2152
Yeah, I'm okay with that.

It just doesn't resolve @ahsonkhan 's concern of `friend` classes.

[2021-04-27 20:56] vhvb1989 commented on #2152
For KeyVault PagedResults, I basically did what @JeffreyRichter  is suggesting here with friend class:
https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_single_page_result.hpp#L33

I like this pattern and I think we should make it part of our guidelines.

[2021-04-27 23:04] RickWinter commented on #2146
I favor the method approach.  I question though the naming vs overloaded methods.  I would expect a DeleteKey method and a DeleteKey method with a token to allow continuing to poll.

[code]

[2021-04-28 02:44] Jinming-Hu commented on #1708
partial done in https://github.com/Azure/azure-sdk-for-cpp/pull/2159

[2021-04-28 04:51] vhvb1989 commented on #1816
@ahsonkhan consider closing this issue as per Rick's comment

[2021-04-28 05:23] vhvb1989 commented on #1671
Decided to close for now.
Feel free to re-open to re-prioritize this one

[2021-04-28 05:23] #1671 closed

[2021-04-28 17:47] RickWinter commented on #2038
@ahsonkhan Setting this to min() is a good approach because it guarantees cancellation.  Is there an actual scenario where you want to know when the item was cancelled?

Note that most other languages that do cancellation only have a boolean.  There is no tracking of when cancelation was triggered.

[2021-04-28 17:49] #2155 closed

[2021-04-28 18:02] RickWinter commented on #1986
@vhvb1989 Please review the uses of abort() to ensure they correctly fit as preconditions

**Pre-Conditions**
Pre-Condition errors occur when a caller violates the expectations of a function, for example by passing an out-of-range value or a null pointer. These are always avoidable by the direct caller, and will always require a source code change (by the caller) to fix.

✔️ YOU MAY check precondi

[2021-04-28 18:07] #1751 closed

[2021-04-28 18:32] vhvb1989 opened #2167 "VCPKG breaks CI Fail"
Creating issue as I keep seeing this error once in a while, so, start tracking

Last occurence:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=866560&view=logs&j=32afe1f3-cae1-5682-187c-9a515535777f&t=eb790175-775e-5b46-331b-d42a59e01ffd

[code]

[2021-04-28 18:39] ahsonkhan commented on #2152
+1

It's a good step in the right direction, so if that's all we want to do today, for GA, I'll take it :)

Using friend class as a workaround, just because C++ doesn't have the concept of `internal`, introduces an implementation maintenance burden and I see this tight coupling to be problematic. We are introducing brittleness (and things like forward declaration to types in other packages) compli

[2021-04-29 00:34] #2052 closed

[2021-04-29 00:34] #2053 closed

[2021-04-29 17:04] danieljurek opened #2176 "Consider using another pool for storage tests"
From: https://github.com/Azure/azure-sdk-for-cpp/pull/2165#issuecomment-828803126
See also: https://github.com/Azure/azure-sdk-for-net/pull/20037

Agents appear to use pools which are correlated with Standard D2as_v4 instances -- https://github.com/Azure/azure-sdk-for-cpp/blob/master/eng/pipelines/templates/jobs/archetype-sdk-client.yml#L30

[2021-04-29 19:47] #2051 closed

[2021-04-29 20:58] antkmsft commented on #2141
I confirmed with Scott, the way we do it in the SDK now is good.
BarerTokenAuthenticationPolicy "caches" the token, and not the credential.
So, the credential can be reused across clients.

This is consistent with what other SDKs do.

[2021-04-29 20:58] #2141 closed

[2021-04-29 23:58] MikeChemi commented on #2143
My team would love to see Azure Batch job scheduling support.

[2021-04-30 16:44] maggiepint commented on #2143
Batch comes up a lot - will definitely take that one under consideration!

[2021-04-30 17:06] RickWinter opened #2180 "Use of cloud configurations"
Before GA we need to review the endpoint configurations to ensure we are compatible across clouds.  We don't need to implement 1550 as long as we are future proofed to do so in 1.1.

https://github.com/Azure/azure-sdk/pull/1550

Tasks:
- [x] Identify all current cloud endpoint uses (add list to this issue)
- [ ] Verify all instances are customizable by the user

[2021-05-03 17:30] RickWinter commented on #1853
@ahsonkhan please split this work item into two tasks.  One for the work in Azure::Core and the other for work in Azure::Storage

[2021-05-03 21:41] ahsonkhan opened #2182 "Within Azure Storage, avoid, or minimize, exposing windows.h header from our public headers (either directly or indirectly)"
Related to https://github.com/Azure/azure-sdk-for-cpp/issues/1853, which is focusing on changes to Azure::Core.

1) For places where we have private fields coming from that header, use `void*` and cast it to the appropriate type in the cpp source file. This is similar to:
https://github.com/Azure/azure-sdk-for-cpp/blob/a9c0637e462f80340ac7b912fe9c52df0b4d39ec/sdk/storage/azure-storage-common/inc/a

[2021-05-03 21:41] ahsonkhan commented on #1853
@RickWinter - done - https://github.com/Azure/azure-sdk-for-cpp/issues/2182

[2021-05-04 00:11] #1619 closed

[2021-05-04 00:43] vhvb1989 opened #2183 "Remove validations from Azure SDK clients"
Storage SDK client is validating the input options for some API operations like
https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/storage/azure-storage-files-shares/src/share_file_client.cpp#L171
and
https://github.com/Azure/azure-sdk-for-cpp/blob/master/sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp#L382

This goes against the SDK guidelines.

If there's a bad user

[2021-05-04 00:44] vhvb1989 commented on #2183
@RickWinter  @JeffreyRichter  FYI. I created the issue as mentioned in the sync meeting

[2021-05-04 15:41] #1260 closed

[2021-05-04 21:27] vhvb1989 commented on #2146
After voting for an approach, the `using constructor` approach was decided to be the best option.
However, the constructor should not make I/O requests for getting the initial state and should also not throw.

So, to solve this, a third option is proposed by using a factory method in the `Operation<T>` class which takes the resume token and the client and returns the `Operation<T>`. This method wo

[2021-05-04 21:30] vhvb1989 opened #2186 "Create/Update guideline for LRO - re-constructing the operation from resume token"
Add, update or create the required C++ guidelines to document how the operations should be re-constructed from a resume token following the design described in:

_Originally posted by @vhvb1989 in https://github.com/Azure/azure-sdk-for-cpp/issues/2146#issuecomment-832260191_

[2021-05-04 21:48] ahsonkhan commented on #2146
That approach sounds good to me, but can you please clarify why a factory method solves the problem that a regular ctor couldn't?

[2021-05-04 21:51] antkmsft opened #2187 "Update docs with static usage guidance"
As I've said before, I'm perfectly happy with using static storage duration variables with dynamic initialization (like this one) if we document one of:
* the set of APIs that customers must not call during static initialization to avoid undefined behavior, or
* the set of APIs that customers may call during static initialization with guaranteed undefined behavior, or
* that customers are forbidde

[2021-05-04 22:00] ahsonkhan commented on #1769
This issue depends on the results of https://github.com/Azure/azure-sdk-for-cpp/pull/2170

[2021-05-04 22:11] vhvb1989 commented on #2146
As a best practice, a ctor should not make I/O request and should be no-except.
A static method can take of the I/O call plus any other error handling while we let the ctor for pure-init purpose

[2021-05-04 22:13] ahsonkhan commented on #2146
Oh, is that why we are making it a static factor method?

We should leave it as a ctor on `Operation<T>`, not make any I/O requests, and leave some of the state uninitialized, like what .NET does.

[2021-05-04 22:26] #1881 closed

[2021-05-04 22:26] #2091 closed

[2021-05-04 22:48] ahsonkhan commented on #1816
Discussed offline with Casey.

C++ exposes the object layout and hence trying to typedef `Nullable<T>` as `Optional<T>` for certain language versions will not work and can cause customer applications to get undefined behavior.

If an application developer references two third party libraries that were themselves built using different version of the language, and which both referenced the Azure SDK

[2021-05-04 22:48] #1816 closed

[2021-05-04 23:08] antkmsft commented on #2180
KeyVault KeyClient uses hardcoded "https://vault.azure.net/" scope - could be a problem when using token credential.
In other aspects, it uses vault URL - so should be no problem pointing it to other clouds.

Storage uses StorageScope that is hardcoded to "https://storage.azure.com/" - for TokenCredential this might be problem.
Their credential can parse different endpoint from connection string.

[2021-05-04 23:17] antkmsft commented on #2180
And other language SDKs have the same public API.